// fuentes del Proyecto
$menu-font: 'Oswald';
$symbol-font: 'WebSymbols';
$title-font: 'Montserrat';

//Background image
$url_cover-page: url('../assets/images/cover-page3.jpg');

//Colores Principales
$Principal-color__blue: #055A81;