//Importación de Bloques
@use '../blocks/block-menu' as menu;
@use '../blocks/block-slider' as slider;
@use '../blocks/block-slider-dos' as slider-dos;
@use '../blocks/block-gallery' as gallery;
@use '../blocks/block-form.scss' as form;
@use '../blocks/block-footer.scss' as footer;

//Importación de Configuración
@use '../config/config' as config;

//Importación de Fuentes
@use '../fonts/Oswald';
@use '../fonts/Montserrat';
@use '../fonts/WebSymbols';

//Inicio de estilos Generales
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.general-wrap {
    margin: 0px;
    height: auto;
}
//Fin de estilos Generales

// Inicio de estilos para los titulos de la portada
//Mixin para posicionar los titulos
@mixin title_position($var_top, $var_width) {
    width: $var_width;
    position: absolute;
    top: $var_top;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

// Inicio de Header
.header {
    position: relative;
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07)),
        config.$url_cover-page;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 63% center;

    .wrap-page {
        height: calc(100vh + 100px);
        width: 100%;
        position: relative;

        .header__title {
            @include title_position(35%, 90%);

            text-align: center;
            font-family: config.$title-font;
            font-size: 58px;
            color: white;
            text-shadow: 1px 1px 2px black;
            text-transform: uppercase;
        }

        .header__sub-title {
            @include title_position(60%, 50%);

            font-family: config.$title-font;
            font-weight: 600;
            text-align: center;
            color: rgb(216, 216, 216);
            font-size: 42px;
        }
    }
}
// Fin de Header
// Fin de estilos para los titulos de la portada

//Inicio de Responsive del header
@media (max-width: 1140px) {
    .header .wrap-page .header__title {
        font-size: 48px;
    }
    .header .wrap-page .header__sub-title {
        font-size: 36px;
    }
}

@media (max-width: 945px) {
    .header .wrap-page .header__button a {
        font-size: 16px;
        padding: 6px;
    }
    .header .wrap-page .header__title {
        font-size: 40px;
    }
}

@media (max-width: 805px) {
    .header .wrap-page .header__title {
        font-size: 35px;
    }
    .header .wrap-page .header__sub-title {
        font-size: 30px;
    }
    .header .wrap-page .header__button {
        width: 25%;
        a {
            font-size: 15px;
        }
    }
}

@media (max-width: 690px) {
    .header .wrap-page .header__title {
        top: 52%;
        font-size: 30px;
    }
    .header .wrap-page .header__sub-title {
        font-size: 25px;
        top: 70%;
    }
    .header .wrap-page .header__button {
        width: 35%;
    }
    .header .wrap-page {
        height: 100vh;
    }
}

@media (max-width: 600px){
    .wrap-gallery{
        padding-top: 0px !important;
    }
}

@media (max-width: 590px) {
    .header .wrap-page .header__title {
        top: 53%;
        font-size: 27px;
    }
    .header .wrap-page .header__sub-title {
        font-size: 22px;
        top: 72%;
    }
}

@media (max-width: 540px) {
    .header .wrap-page {
        height: 90vh;
    }
    .header .wrap-page .header__title {
        top: 52%;
        font-size: 25px;
    }
    .header .wrap-page .header__sub-title {
        font-size: 21px;
    }
}

@media (max-width: 500px) {
    .header .wrap-page {
        height: 80vh;
    }
    .header .wrap-page .header__title {
        top: 44%;
        font-size: 23px;
    }
    .header .wrap-page .header__sub-title {
        font-size: 20px;
        top: 65%;
    }
}

@media (max-width: 350px){
    .header .wrap-page {
        height: 65vh;
    }
    .header .wrap-page .header__title {
        top: 48%;
        font-size: 20px;
    }
    .header .wrap-page .header__sub-title {
        font-size: 18px;
        top: 73%;
        width: 90%
    }
}

@media (max-width: 260px){
    .header .wrap-page .header__title {
        top: 48%;
        font-size: 18px;
    }
    .header .wrap-page .header__sub-title {
        font-size: 16px;
        top: 73%;
        width: 90%;
    }
}

@media (max-width: 230px){
    .header .wrap-page {
        height: 55vh;
    }
    .header .wrap-page .header__title {
        top: 45%;
        font-size: 16px;
    }
    .header .wrap-page .header__sub-title {
        font-size: 14px;
    }
}
//Fin de Responsive del header

//Importar estilos para menu
@include menu.block-menu;

//Inicio de Slider
@include slider.block-slider();
//Fin de slider

//Inicio de gallery
@include gallery.block-gallery(#ededed);
//Fin de gallery

//Inicio de Slider
@include slider-dos.block-slider-dos();
//Fin de slider

//Inicio de formulario
@include form.block-form;
//Fin de formulario

//Estilos Particulares de formulario
.contact {
    padding: 45px 0px !important;

    }
//Fin de Estilos Particulares de formulario

//Inicio de fotter
@include footer.block-footer;
//Fin de footer
