////Importar bloques
@use '../blocks/block-menu.scss' as menu;
@use '../blocks/block-vacancies' as vacancies;
@use '../blocks/block-footer.scss' as footer;

//Importar configuraciones
@use '../config/config.scss' as config;

//Importar fuentes
@use '../fonts/Montserrat.scss';
@use '../fonts/Oswald.scss';
@use '../fonts/WebSymbols.scss';

//Importar estilos de menu
@include menu.block-menu;

//importar estilos de vacancies
@include vacancies.block-vacancies;

//Importar estilos de footer
@include footer.block-footer;

//Inicio de estilos generales

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

//Fin de estilos generales