extends ../templates/template

block config
    -actual_page = "cervezas"

    //-Importación de bloques
    include ../blocks/block-menu
    include ../blocks/block-product-cerveza
    //-include ../blocks/block-moda
    include ../blocks/block-footer
    //-Importar configuraciones extras
    include ../config/config-product
    include ../config/json/json-cervezas

block append description 
    meta(name="description" content="Te ofrecemos diversos productos del grupo Modelo a un precio competitivo.")

block header
    //Inicio de menu
    +block-menu(Categories, SubCategories, CategoriesIcon, url_mainLogo)
    //Fin de menu
    
block container
    //Inicio de cervezas
    +block-product-cerveza(cervezasProductData, cervezasDataPage)
    //Fin de cervezas

block footer
    //Inicio de Footer
    +block-footer(title_page, categorias, subCategorias, nameCategorias, nameSubCategorias)
    //Fin de Footer