extends ../templates/template

block config
    -actual_page = "desechables"

    //-Importación de bloques
    include ../blocks/block-menu
    include ../blocks/block-product-desechables
    //-include ../blocks/block-moda
    include ../blocks/block-footer
    //-Importar configuraciones extras
    include ../config/config-product
    include ../config/json/json-desechables

block append description 
    meta(name="description" content="Proservip te ofrece la mejor opción en productos desechables")

block header
    //Inicio de menu
    +block-menu(Categories, SubCategories, CategoriesIcon, url_mainLogo)
    //Fin de menu
    
block container
    //Inicio de cervezas
    +block-product-desechables(desechablesProductData, desechablesDataPage)
    //Fin de cervezas

block footer
    //Inicio de Footer
    +block-footer(title_page, categorias, subCategorias, nameCategorias, nameSubCategorias)
    //Fin de Footer