extends ../templates/template

block config
    -actual_page = "moda"

    //-Importación de bloques
    include ../blocks/block-menu
    include ../blocks/block-product-moda
    //-include ../blocks/block-moda
    include ../blocks/block-footer
    //-Importar configuraciones extras
    include ../config/config-product
    include ../config/json/json-moda

block append description 
    meta(name="description" content="Adéntrate a nuestro catalogo de prendas exclusivas del diseñador Joseph Ribkoff, existen menos de 5 distribuidores en México.")

block header
    //Inicio de menu
    +block-menu(Categories, SubCategories, CategoriesIcon, url_mainLogo)
    //Fin de menu
    
block container
    //Inicio de moda
    +block-product-moda(modaProductData, modaDataPage)
    //Fin de moda

block footer
    //Inicio de Footer
    +block-footer(title_page, categorias, subCategorias, nameCategorias, nameSubCategorias)
    //Fin de Footer

append scripts
    //-Script del menu dinamico para seleccionar productos
    script(src="../script/menu-product.js" type="text/javascript") 