extends ../templates/template

block config
    -actual_page = "tecnologia"

    //-Importación de bloques
    include ../blocks/block-menu
    include ../blocks/block-product-tecnologia
    include ../blocks/block-footer
    //-Importar configuraciones extras
    include ../config/config-product
    include ../config/json/json-tecnologia
    
block append description 
    meta(name="description" content="Revisa nuestro catalogo de las mejores pantallas y laptops a precios únicos")

block header
    //Inicio de menu
    +block-menu(Categories, SubCategories, CategoriesIcon, url_mainLogo)
    //Fin de menu
    
block container
    //Inicio de tecnologia
    +block-product-tecnologia(tecnologiaProductData, tecnologiaDataPage)
    //Fin de tecnologia

block footer
    //Inicio de Footer
    +block-footer(title_page, categorias, subCategorias, nameCategorias, nameSubCategorias)
    //Fin de Footer

append scripts
    //-Script del menu dinamico para seleccionar productos
    script(src="../script/menu-product.js" type="text/javascript") 