//- Variables Generales
- var title_page = 'Sisudi'
- var actual_page = ''

//- Objeto con nombres de las paginas
- 
    var Categories = {
        inicio: 'Inicio',
        productos: 'Productos',
        //servicios: 'Servicios',
        sobre_nosotros: 'Sobre Nosotros ' + '<span class="webSymbols">{</span>',
        contacto: 'Contacto',
        //vacantes: 'Vacantes',
    }

    //- Objeto con iconos del menu de la pagina
    var CategoriesIcon = {
        icon_location: '<span class="webSymbols" id="open-location">?</span>',
        icon_mail: '<i class="fas fa-envelope" id="open-mail"></i>',
        icon_phone: '<i class="fas fa-phone" id="open-phone"></i>'
    }

    //- Objeto con nombres del sub-menu de la pagina
    var SubCategories = {
    quienes_somos: 'Quienes Somos',
    vision_mision: 'Visi贸n y Misi贸n',
    valores: 'Valores'
    }

//- Url de imagenes
- var url_mainLogo = "./assets/images/logo-sisudi.png"
- var url_iconMail = "./assets/images/icon-mail.svg"
- var url_iconPhone = "./assets/images/icon-phone.svg"


//- Array 
-const categorias = ["Inicio", "Productos", /*"Servicios",*/ "Sobre Nosotros", "Contactos"/*, "Vacantes"*/]
-const subCategorias = ["Quienes Somos", "Visi贸n y Misi贸n", "Valores"]

-const nameCategorias = ['inicio', 'productos', /*'servicios'*/, 'sobre_nosotros', 'contactos'/*, 'vacantes'*/]
-const nameSubCategorias = ['quienes_somos', 'vision_mision', 'valores'] 
