-
    const direction = "Clzd. de la viga 1384, col. El sifon, Alc. Iztapalapa. CDMX, C.P. 09400",
        phone = " (55) 8987 5303 - Sisudi",
        time = "9:00 - 18:00hrs",
        mail = "proveedorasisudi@gmail.com",
        //facebook = "https://www.facebook.com/"
        whatsapp = " (55) 8804 5455"

