//-Array Slider 1 datos
-   
    const mostSelledProducts = [
        {
            name: 'Termo Aruba',
            url: './assets/images/slider-vendidos/slider1.png',
            description: 'TMPS 148 $279.36'
        },

        {
            name: 'Libreta Alesa',
            url: './assets/images/slider-vendidos/slider2.png',
            description: 'HL 010 $72.96'
        },

        {
            name: 'Boligrafo Script',
            url: './assets/images/slider-vendidos/slider3.png',
            description: 'SH 1005 $8.03'
        }
    ]

//-Array Slider 2 datos
-
    const clients = [
        
        {
            name: 'example',
            url: './assets/images/clientes/cliente1.png'
        },

        {
            name: 'example',
            url: './assets/images/clientes/cliente2.png'

        },

        {
            name: 'example',
            url: './assets/images/clientes/cliente3.png'

        },

        {
            name: 'example',
            url: './assets/images/clientes/cliente4.png'

        },
        {
            name: 'example',
            url: './assets/images/clientes/cliente5.png'

        },
        {
            name: 'example',
            url: './assets/images/clientes/cliente6.png'

        },
        {
            name: 'example',
            url: './assets/images/clientes/cliente7.png'

        },
        {
            name: 'example',
            url: './assets/images/clientes/cliente8.png'

        },
        {
            name: 'example',
            url: './assets/images/clientes/cliente9.png'

        },
        {
            name: 'example',
            url: './assets/images/clientes/cliente10.png'

        },
        {
            name: 'example',
            url: './assets/images/clientes/cliente11.png'

        },
        {
            name: 'example',
            url: './assets/images/clientes/cliente12.png'

        },
        {
            name: 'example',
            url: './assets/images/clientes/cliente13.png'

        },
    ]