//-Objetos con informacion para el 
- 
    const dataService = [
        {
            number: 0,
            name: 'ISEM',
            classname: 'isem__data',
            urlImage: './assets/images/ISEM.png',
            data: '<strong>Recursos Humanos</strong><ul><li>Publicación de vacantes</li><li>Reclutamiento y selección de personal <li>Aplicación de exámenes psicométricos</li> </li><li>Estudios socioeconómicos</li><li>Contratación y despido profesional de personal</li></ul>'
        },
        {
            number: 1,
            name: 'Malori',
            classname: 'malori__data',
            urlImage: './assets/images/Malori.png',
            data: '<strong>Asesoría Jurídica</strong><br>Malori Consultores es un despacho especializado en las áreas clave del asesoramiento legal a empresas. Desde su fundación, su buque insignia es el Derecho Laboral incorporando, a lo largo del ejercicio,  profesionales de primera línea para poder dar una respuesta integral a las necesidades de nuestros clientes que buscan la excelencia no solo en la calidad técnica del trabajo de sus asociados, sino también en el trato al cliente.'
        },
        {
            number: 0,
            name: 'MFA',
            classname: 'mfa__data',
            urlImage: './assets/images/MFA.png',
            data: '<strong>MFA CONTADORES </strong>es un despacho orgullosamente 100% mexicano. Con más de 15 años en el mercado, desde el primer día nuestro objetivo sigue siendo igual de firme e importante para nosotros; brindarles a nuestros clientes servicios profesionales de contabilidad. administración y recursos humanos.'

        },
        {
            number: 1,
            name: 'Proservip Web',
            classname: 'proservip__data',
            urlImage: './assets/images/logo-proservip.png',
            data: 'Si deseas que tu proyecto, empresa o comercio este visible para el mayor numero de personas, necesitas tener presencia web. En Proservip podemos ayudarte, ya que contamos con desarrollo, administración y asesorías de sitios web, con un trato personalizado y de calidad según las necesidades de tu proyecto.'
        }
    ]

