//-Array Slider 1 datos
-   
    const mostSelledProducts = [
        {
            name: 'Te Piñalim',
            url: './assets/images/slider-vendidos/slider1.jpg',
            description: 'Para limpieza de sistema dijestivo'
        },

        {
            name: 'Concentradores de oxígeno Dedakj',
            url: './assets/images/slider-vendidos/slider2.jpg',
            description: 'Uso doméstico'
        },

        {
            name: 'Concentradores de oxígeno Dedakj',
            url: './assets/images/slider-vendidos/slider3.jpg',
            description: 'Uso doméstico'
        }
    ]

//-Array Slider 2 datos
-
    const clients = [
        
        {
            name: 'El encino',
            url: './assets/images/clientes/cliente1.jpg'
        },

        {
            name: 'ISEM',
            url: './assets/images/clientes/cliente2.jpg'

        },

        {
            name: 'Comercializadora Servitec',
            url: './assets/images/clientes/cliente3.jpg'

        },

        {
            name: 'Shop Light',
            url: './assets/images/clientes/cliente4.jpg'

        },
        {
            name: 'Arquitectura Monumental',
            url: './assets/images/clientes/cliente5.jpg'

        },
        {
            name: 'Asistencia U-24',
            url: './assets/images/clientes/cliente6.jpg'

        },
        {
            name: 'Asistencia U-24',
            url: './assets/images/clientes/cliente7.jpg'

        },
        {
            name: 'Bio Natural Lab MX',
            url: './assets/images/clientes/cliente8.jpg'

        },
        {
            name: 'Malori Asesores Juridicos',
            url: './assets/images/clientes/cliente9.jpg'

        },
        {
            name: 'CG Foodtrucks',
            url: './assets/images/clientes/cliente10.jpg'

        },
        {
            name: 'Scotiabank',
            url: './assets/images/clientes/cliente11.jpg'

        },
        {
            name: 'Huellas Pet Shop',
            url: './assets/images/clientes/cliente12.jpg'

        },
        {
            name: 'MFA Contadores',
            url: './assets/images/clientes/cliente2.jpg'

        },
    ]