mixin title-name (actual_page, title_page)
    if actual_page === 'index'
        title= title_page + ' - Inicio | Logistica y gestión de tus productos' 
    else 
        title= title_page + ' - ' + actual_page + ' | Logistica y gestión de tus productos'