-
    let cervezasProductData = [
        {
            title: 'Modelo',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Presentación de 355 ml',
            descripcion: 'Cerveza Americana tipo Pilsner, llena de actitud e imagen así como una gran tradición de sabor y cuerpo',
            imglink: './assets/images/cervezas/modelo-especial-lata.png'
        },
        {
            title: 'Modelo',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Presentación de 1.2 L',
            descripcion: 'Cerveza Americana tipo Pilsner, llena de actitud e imagen así como una gran tradición de sabor y cuerpo',
            imglink: './assets/images/cervezas/modelo-especial-mega.png'
        },
        {
            title: 'Modelo',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Presentación de 473 ml',
            descripcion: 'Cerveza Americana tipo Pilsner, llena de actitud e imagen así como una gran tradición de sabor y cuerpo',
            imglink: './assets/images/cervezas/modelo-especial-laton.png'
        },
        {
            title: 'Victoria',
            tipo: 'Oscura',
            porcentaje: '4%',
            presentacion: 'Presentación de 355 ml',
            descripcion: 'Cerveza mexicana tipo Viena, que ofrece un agradable aroma a maltas y lúpulo, con un color ámbar',
            imglink: './assets/images/cervezas/victoria-lata.png'    
        },
        {
            title: 'Victoria',
            tipo: 'Oscura',
            porcentaje: '4%',
            presentacion: 'Presentación de 1.2 L',
            descripcion: 'Cerveza mexicana tipo Viena, que ofrece un agradable aroma a maltas y lúpulo, con un color ámbar',
            imglink: './assets/images/cervezas/victoria-mega.png'    
        },
        {
            title: 'Victoria',
            tipo: 'Oscura',
            porcentaje: '4%',
            presentacion: 'Presentación de 473 ml',
            descripcion: 'Cerveza mexicana tipo Viena, que ofrece un agradable aroma a maltas y lúpulo, con un color ámbar',
            imglink: './assets/images/cervezas/victoria-laton.png'    
        },
        {
            title: 'Corona',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Presentación de 355 ml',
            descripcion: 'Corona Extra es la cerveza mexicana con mayor venta en el mundo. Considerada una de las marcas más valiosas del planeta Corona Extra se enfoca en dar una sensación de frescura y relajación a sus consumidores',
            imglink: './assets/images/cervezas/corona-extra-lata.png'    
        },
        {
            title: 'Corona',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Presentación de 1.2 L',
            descripcion: 'Corona Extra es la cerveza mexicana con mayor venta en el mundo. Considerada una de las marcas más valiosas del planeta Corona Extra se enfoca en dar una sensación de frescura y relajación a sus consumidores',
            imglink: './assets/images/cervezas/mega-corona.png'    
        },
        {
            title: 'Corona',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Presentación de 473 ml',
            descripcion: 'Corona Extra es la cerveza mexicana con mayor venta en el mundo. Considerada una de las marcas más valiosas del planeta Corona Extra se enfoca en dar una sensación de frescura y relajación a sus consumidores',
            imglink: './assets/images/cervezas/corona-extra-laton.png'    
        },
        {
            title: 'Negra Modelo',
            tipo: 'Obscura',
            porcentaje: '5.3%',
            presentacion: 'Presentación de 355 ml',
            descripcion: 'Cerveza americana tipo Múnich, que ofrece un dabor equilibrado y delicado aroma a malta',
            imglink: './assets/images/cervezas/negra-modelo-lata.png'    
        },
        {
            title: 'Negra Modelo',
            tipo: 'Obscura',
            porcentaje: '5.3%',
            presentacion: 'Presentación de 1.2 L',
            descripcion: 'Cerveza americana tipo Múnich, que ofrece un dabor equilibrado y delicado aroma a malta',
            imglink: './assets/images/cervezas/negra-modelo-mega.png'    
        },
        {
            title: 'Negra Modelo',
            tipo: 'Obscura',
            porcentaje: '5.3%',
            presentacion: 'Presentación de 473 ml',
            descripcion: 'Cerveza americana tipo Múnich, que ofrece un dabor equilibrado y delicado aroma a malta',
            imglink: './assets/images/cervezas/negra-modelo-laton.png'    
        },
    ]