-
    let articulos_oficinaProductData = [
        {
            title: 'Hojas Bond',
            descripcion: 'Tamaño carta, Tamaño oficio, Tamaño doble carta </br><strong>Color: </strong>Blanco </br><strong>Información Basica: </strong>Tamaño Carta, Oficio y doble carta, ideal para copias, impresiones, tarjetas e información en gral. 95% blancura </br><strong>Venta: </strong> Caja de 30 paquetes c/500 hojas c/u, o solo por paquete.',
            imglink: './assets/images/articulos_oficina/Hojas bond.png'
        },
                {
            title: 'Hojas de Colores',
            descripcion: 'Tamaño carta </br><strong>Color: </strong>Variedad de colores (colores Intensos, brillantes, neón y pastel) </br><strong>Información Basica: </strong>Hojas de papel iris. Tamaño Carta. Ideal para impresión de gráficos y manualidades. </br><strong>Venta: </strong> Por paquetes de 100 hojas (de un solo color o clores variados)',
            imglink: './assets/images/articulos_oficina/Hojas de colores.png'
        },        
        {
            title: 'Cubre Hojas',
            descripcion: 'Tamaño carta, Tamaño oficio  </br><strong>Color: </strong>Transparente, con orilla blanca. </br><strong>Información Basica: </strong>  Tamaño Carta u Oficio, ideal para proteger tus papeles.Protectores para organizar y proteger tus documentos, para que no se peguen las hojas ni se hagan amarillas. Elaboradas de polipropileno. Con perforación lateral para guardar en carpetas. </br><strong>Venta: </strong> Caja de 50 cubre hojas tamaño oficio. Caja de 100 cubre hojas tamaño carta ',
            imglink: './assets/images/articulos_oficina/Cubre hojas.png'
        },        
        {
            title: 'Bolígrafos',
            descripcion: 'Punto extrafino (0.7 mm). Punto fino  (0.8 mm). Punto mediano (1.0 mm). Punto grueso (1.2 mm). Punto extra grueso (1.6 mm)</br><strong>Color: </strong> Azul, rojo, negro, verde (variedad de colores en algunas medidas) </br><strong>Información Basica: </strong>• Tinta de calidad con secado rápido y escritura suave. Dispone de una punta de esfera perfecta y muy resistente.</br><strong>Venta: </strong> Caja c/12 piezas.',
            imglink: './assets/images/articulos_oficina/Boligrafos.png'
        },        
        {
            title: 'Engrapadoras',
            descripcion: 'Engrapadora de sobremesa. Engrapadora tira completa. Engrapadora de brazo. Engrapadora de bolsillo. Engrapadora tipo tenaza. Engrapadora de golpe </br><strong>Color: </strong>Negro (Puede variar, según el tipo)</br><strong>Información Basica: </strong>Metálicas. El modelo puede variar, según la marca.</br><strong>Venta: </strong> Por piezas',
            imglink: './assets/images/articulos_oficina/Engrapadoras.png'
        },
        {
            title: 'Grapas',
            descripcion: 'Grapas estándar 26/6 (variedad de medidas) </br><strong>Información Basica: </strong>Con puntas cinceladas para usarse en todas las engrapadoras estándar. </br><strong>Venta: </strong>Caja c/1000 y c/5000 piezas.<p><strong>Producto: </strong> Quita Grapas estándar </br><strong>Color: </strong> Variedad de Color </br><strong>Información Básica</strong> Ideal para remover grapas estándar. Fabricada en plástico de alto impacto y metal. </br><strong>Venta: </strong> Por piezas</p>',
            imglink: './assets/images/articulos_oficina/Grapas-quitagrapas.png'
        },
        {
            title: 'Perforadoras',
            descripcion: 'Perforadoras de 1, 2 o 3 orificios. </br><strong>Color: </strong>Gris o negra </br><strong>Información Básica: </strong>Elaborados con delamina de acero niquelado. </br><strong>Venta: </strong>Por pieza',
            imglink: './assets/images/articulos_oficina/Perforadoras.png'
        },
        {
            title: 'Tijeras',
            descripcion: '<strong>Información Basica: </strong>Para cortes perfectos, con protecciones ergonómicas para mayor comodidad. <p><strong>Producto: </strong>Cúter </br><strong>Colores: </strong>Variedad de Colores</br><strong>Información Básica: </strong> Cúter metálico o plástico recargable. Venta de navajas para cúter por caja.  </br><strong>Venta: </strong> Por piezas</p>',
            imglink: './assets/images/articulos_oficina/Grapas-quitagrapas.png'
        },
        {
            title: 'Gomas',
            descripcion: '<strong>Información Basica: </strong>De material sintético y suave para el papel. Borra lápiz. <p><strong>Producto: </strong>Corrector </br><strong>Información Básica: </strong>Corrector en pluma. Corrector en botella. Corrector de cinta.  </br><strong>Venta: </strong> Caja con 6 o 12 piezas</p>',
            imglink: './assets/images/articulos_oficina/Gomas-corrector.png'
        },   
        {
            title: 'Reglas',
            descripcion: 'Regla de 30 cm </br><strong>Color: </strong>Transparente, gris y en diferentes colores (según el material del producto) </br><strong>Información Básica: </strong>De plástico, Metálica, Flexible </br><strong>Venta: </strong>Por pieza',
            imglink: './assets/images/articulos_oficina/Reglas.png'
        }, 
        {
            title: 'Carpetas',
            descripcion: 'Carpeta de argolla D. Carpeta de arillo O </br><strong>Color: </strong>Variedad de colores </br><strong>Medidas: </strong>1”, 2”, 3”, 4” y 5”</br><strong>Información Básica: </strong>Hechura de polipropileno. Herraje metálico. Con 3 arillos o argollas. Para hojas tamaño carta y tamaño oficio. Bolsillos interiores y exteriores para documentos. Lomo personalizable. </br><strong>Venta: </strong>Por pieza',
            imglink: './assets/images/articulos_oficina/Carpetas.png'
        }, 
        {
            title: 'Resistol (lápiz adhesivo)',
            descripcion: ' Chico, Mediano, Grande y Jumbo (Los gramos varean, según la marca) </br><strong>Información Basica: </strong>Pegamento en barra de color blanco. Es lavable. Artículo no tóxico.<p><strong>Producto: </strong>Cinta Adhesiva </br><strong>Información Básica: </strong>Tipo yúrex. Cinta canela. Cinta doble cara, transparente o blanca. Masking. Cinta invisible </br><strong>Tamaño: </strong>Distintos tamaños, según el tipo de cinta. </br><strong>Venta: </strong>Según la marca, viene en paquetes desde 6 hasta 30 piezas. </p>',
            imglink: './assets/images/articulos_oficina/Cinta adhesiva.png'
        },  
        {
            title: 'Porta Cinta',
            descripcion: 'Despachador de Cinta </br><strong>Color: </strong> Distintos colores</br><strong>Tamaño: </strong>Según el tamaño de la cinta.</br><strong>Información Básica: </strong>Cuerpo de plástico. Con cuchilla metálica y base de goma. Fácil corte. Con mecanismos de ajuste. Algunos, con aplicador de presión.</br><strong>Venta: </strong>Por pieza',
            imglink: './assets/images/articulos_oficina/Portacinta.png'
        },   
        {
            title: 'Libretas',
            descripcion: 'Cuaderno con 100 hojas  </br><strong>Color: </strong>  Distintos colores de pasta</br><strong>Tamaño: </strong>Profesional. Forma francesa. Forma italiana. </br><strong>Información Básica: </strong>Cuadro grande. Cuadro chico. Raya. Doble raya. Hojas blancas. Con espiral sencillo, doble espiral o cosido.</br><strong>Venta: </strong>Por pieza o por paquete c/12 piezas.',
            imglink: './assets/images/articulos_oficina/Libretas.png'
        },
        {
            title: 'Calculadoras',
            descripcion: 'Calculadora de bolsillo. Calculadora básica. Calculadora científica. Calculadora c/ impresor  </br><strong>Color: </strong>Distintos colores</br><strong>Información Básica: </strong>Pantalla de cristal líquido. Teclas plásticas. Memorias independientes.</br><strong>Venta: </strong>Por pieza.',
            imglink: './assets/images/articulos_oficina/Calculadoras.png'
        },
        {
            title: 'Tachuelas',
            descripcion: 'Tachuelas para oficina  </br><strong>Color: </strong> Doradas, plateadas, transparentes y de colore. </br><strong>Información Básica: </strong>Con cabeza redondeada o cabeza de aguja. Con puntas de acero resistentes.</br><strong>Venta: </strong>Por caja de 100, 300, 500 y 600 tachuelas. (puede variar según la marca)',
            imglink: './assets/images/articulos_oficina/Tachuelasg.png'
        }
    ]