-
    let alimentos_frescosProductData = [
        {
            imglink: './assets/images/alimentos_frescos/1.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/2.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/3.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/4.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/5.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/6.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/7.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/8.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/9.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/10.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/11.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/12.png'
        },
        {
            imglink: './assets/images/alimentos_frescos/13.png'
        }
    ]