-
    let lineaBlancaProductData = [

        //Inicio de refrigeradores ========================
        {
            categoria: 'Refrigeradores',
            value: 'refrigeradores',
            productos: [    
                {
                    marca: 'winia',
                    modelo: 'DFR-1110DMX',
                    nombre: 'Refrigerador Top Mount Winia DFR-1110DMX 11 Pies Cúbicos Silver',
                    linkImg: './assets/images/linea-blanca/refrigeradores/DFR-1110DMX.png'
                },
                {
                    marca: 'winia',
                    modelo: 'DFR1410DMX',
                    nombre: 'Refrigerador Top Mount Winia DFR1410DMX 14 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/DFR1410DMX.png'
                },
                {
                    marca: 'winia',
                    modelo: 'DFR-1610DMX',
                    nombre: 'Refrigerador Top Mount Winia DFR-1610DMX 16 Pies Cúbicos Silver',
                    linkImg: './assets/images/linea-blanca/refrigeradores/DFR-1610DMX.png'
                },
                {
                    marca: 'winia',
                    modelo: 'DFR-25210GBDA',
                    nombre: 'Refrigerador Top Mount Winia DFR-25210GBDA 9 Pies Cúbicos Blanco',
                    linkImg: './assets/images/linea-blanca/refrigeradores/DFR-25210GBDA.png'
                },
                {
                    marca: 'winia',
                    modelo: 'DFR-25210GN',
                    nombre: 'Refrigerador Top Mount Winia DFR-25210GN 9 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/DFR-25210GN.png'
                },
                {
                    marca: 'winia',
                    modelo: 'DFR-40510GNDG',
                    nombre: 'Refrigerador Top Mount Winia DFR-40510GNDG 14 Pies Cúbicos Silver',
                    linkImg: './assets/images/linea-blanca/refrigeradores/DFR-40510GNDG.png'
                },
                {
                    marca: 'winia',
                    modelo: 'FR-220DS',
                    nombre: 'Refrigerador Single Door Winia FR-220DS 8 Pies Cúbicos Silver',
                    linkImg: './assets/images/linea-blanca/refrigeradores/FR-220DS.png'
                },
                {
                    marca: 'lg',
                    modelo: 'GT40WDC',
                    nombre: 'Refrigerador Top Mount LG GT40WDC 15 Pies Cúbicos Plata',
                    linkImg: './assets/images/linea-blanca/refrigeradores/GT40WDC.png'
                },
                {
                    marca: 'lg',
                    modelo: 'LS74SDP',
                    nombre: 'Refrigerador Duplex LG 26" Multi Air Flow LS74SDP',
                    linkImg: './assets/images/linea-blanca/refrigeradores/LS74SDP.png'
                },
                {
                    marca: 'winia',
                    modelo: 'RCT-360NBG',
                    nombre: 'Refrigerador Bottom Mount Winia RCT-360NBG 13 Pies Cúbicos Negro',
                    linkImg: './assets/images/linea-blanca/refrigeradores/RCT-360NBG.png'
                },
                {
                    marca: 'mabe',
                    modelo: 'RMA1025VMXG/E',
                    nombre: 'Refrigerador Top Mount Mabe RMA1025VMXG/E 10 Pies Cúbicos Gris',
                    linkImg: './assets/images/linea-blanca/refrigeradores/RMA1025VMXG-E.png'
                },
                {
                    marca: 'mabe',
                    modelo: 'RMA1130JMFE0',
                    nombre: 'Refrigerador Top Mount Mabe RMA1130JMFE0 11 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/RMA1130JMFE0.png'
                },
                {
                    marca: 'mabe',
                    modelo: 'RMA1130XMFS0',
                    nombre: 'Refrigerador Top Mount Mabe RMA1130XMFS0 11 Pies Cúbicos Silver',
                    linkImg: './assets/images/linea-blanca/refrigeradores/RMA1130XMFS0.png'
                },
                {
                    marca: 'mabe',
                    modelo: 'RME1436VMXE',
                    nombre: 'Refrigerador Top Mount Mabe RME1436VMXE 14 Pies Cúbicos Silver',
                    linkImg: './assets/images/linea-blanca/refrigeradores/RME1436VMXE.png'
                },
                {
                    marca: 'mabe',
                    modelo: 'RMT510RXMRX0',
                    nombre: 'Refrigerador Top Mount Mabe RMT510RXMRX0 19 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/RMT510RXMRX0.png'
                },
                {
                    marca: 'samsung',
                    modelo: 'RS28T5B00B1',
                    nombre: 'Refrigerador Side by Side Samsung RS28T5B00B1 28 Pies Cúbicos Black Matt',
                    linkImg: './assets/images/linea-blanca/refrigeradores/RS28T5B00B1.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WB1332A',
                    nombre: 'Refrigerador Bottom Mount Whirlpool WB1332A 13 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WB1332A.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WB1333A',
                    nombre: 'Refrigerador Bottom Mount Whirlpool WB1333A 13 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WB1333A.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WD5720V',
                    nombre: 'Refrigerador Bottom Mount Whirlpool WD5720V 25 Pies Cúbicos Negro',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WD5720V.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WRB322DMBM',
                    nombre: 'Refrigerador Bottom Mount Whirlpool WRB322DMBM 625 L / 22 p3',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WRB322DMBM.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WRE58AKTWW',
                    nombre: 'Refrigerador Bottom Mount Whirlpool WRE58AKTWW 17 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WRE58AKTWW.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WRQ551SNJZ',
                    nombre: 'Refrigerador French Door Whirlpool WRQ551SNJZ 21 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WRQ551SNJZ.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WSZ57L18DM',
                    nombre: 'Congelador Sidekick Whirlpool WSZ57L18DM 18 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WSZ57L18DM.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WT1736N',
                    nombre: 'Refrigerador Top Mount Whirlpool WT1736N 17 Pies Cúbicos Silver',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WT1736N.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WT1880A',
                    nombre: 'Refrigerador Top Mount Whirlpool WT1880A 18 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WT1880A.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WT2150S',
                    nombre: 'Refrigerador Top Mount Whirlpool WT2150S 21 Pies Cúbicos Silver',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WT2150S.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WT9514S',
                    nombre: 'Refrigerador Top Mount Whirlpool WT9514S 9 Pies Cúbicos Acero',
                    linkImg: './assets/images/linea-blanca/refrigeradores/WT9514S.png'
                }
            ]
        },
        //Fin de refrigeradores ===========================

        //Inicio de estufas ===============================
        {
            categoria: 'Estufas',
            value: 'estufas',
            productos: [
                {
                    marca: 'mabe',
                    modelo: 'EM5030BAIS0',
                    nombre: 'Estufa de Piso Mabe 20 EM5030BAIS0 Plata ',
                    linkImg: './assets/images/linea-blanca/estufas/EM5030BAIS0.png'
                },
                {
                    marca: 'mabe',
                    modelo: 'EM5040BAIB0',
                    nombre: 'Estufa EM5040BAIB0 30 50cm Mabe Blanco -Ort ',
                    linkImg: './assets/images/linea-blanca/estufas/EM5040BAIB0.png'
                },
                {
                    marca: 'mabe',
                    modelo: 'EM5040BAIN0',
                    nombre: 'Estufa de Piso EM5040BAIN0 20 Mabe Negra -Ort_ ',
                    linkImg: './assets/images/linea-blanca/estufas/EM5040BAIN0.png'
                },
                {
                    marca: 'mabe',
                    modelo: 'EM5041BAIS0',
                    nombre: 'Estufa de Piso Mabe 20 EM5041BAIS0 Plata ',
                    linkImg: './assets/images/linea-blanca/estufas/EM5041BAIS0.png'
                },
                {
                    marca: 'mabe',
                    modelo: 'EM7641BAIN0',
                    nombre: 'Estufa EM7641BAIN0 30 Negra Mabe -Ort ',
                    linkImg: './assets/images/linea-blanca/estufas/EM7641BAIN0.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WFR3100B',
                    nombre: 'Estufa de Piso Whirlpool 30 WFR3100B Acero ',
                    linkImg: './assets/images/linea-blanca/estufas/WFR3100B.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WFR3400D',
                    nombre: 'Estufa de Piso Whirlpool 30 WFR3400D Silver ',
                    linkImg: './assets/images/linea-blanca/estufas/WFR3400D.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WFR5000D',
                    nombre: 'Estufa de Piso Whirlpool 30 WFR5000D Silver ',
                    linkImg: './assets/images/linea-blanca/estufas/WFR5000D.png'
                }
            ]
        },
        //Fin de estufas ==================================

        //Inicio de licuadoras ============================
        {
            categoria: 'Licuadoras',
            value: 'licuadoras',
            productos: [
                {
                    marca: 'oster',
                    modelo: '4126',
                    nombre: 'Licuadora 4126 13 Oster Vaso Vidrio -Ort',
                    linkImg: './assets/images/linea-blanca/licuadoras/4126.png'
                },
                {
                    marca: 'black and decke',
                    modelo: 'BL1000',
                    nombre: 'Licuadora Black and Decker BL1000 10V Roja',
                    linkImg: './assets/images/linea-blanca/licuadoras/BL1000.png'
                },
                {
                    marca: 'oster',
                    modelo: 'BLST3ACPG013',
                    nombre: 'Licuadora Oster Xpert BLST3ACPG013 3V Gris',
                    linkImg: './assets/images/linea-blanca/licuadoras/BLST3ACPG013.png'
                },
                {
                    marca: 'oster',
                    modelo: 'BLST4125-013',
                    nombre: 'Licuadora Oster Clásica BLST4125-013 1V Plateada',
                    linkImg: './assets/images/linea-blanca/licuadoras/BLST4125-013.png'
                },
                {
                    marca: 'oster',
                    modelo: 'BLSTEG7805',
                    nombre: 'Licuadora Oster BLSTEG7805 12V Blanca',
                    linkImg: './assets/images/linea-blanca/licuadoras/BLSTEG7805.png'
                },
                {
                    marca: 'oster',
                    modelo: 'BLSTEG-7890R',
                    nombre: 'Licuadora Modelo BLSTEG-7890R Oster 3 Velocidades Color Rojo',
                    linkImg: './assets/images/linea-blanca/licuadoras/BLSTEG-7890R.png'
                },
                {
                    marca: 'oster',
                    modelo: 'BLSTVBRV0013',
                    nombre: 'Licuadora Oster BLSTVBRV0013 3 Programas Negro con Rojo',
                    linkImg: './assets/images/linea-blanca/licuadoras/BLSTVBRV0013.png'
                },
                {
                    marca: 'koblenz',
                    modelo: 'LKM 4703 VI',
                    nombre: 'Licuadora LKM 4703 VI 3Vel Koblenz Negro/acero Inox -Ort',
                    linkImg: './assets/images/linea-blanca/licuadoras/LKM 4703 VI.png'
                },
                {
                    marca: 'koblenz',
                    modelo: 'LKM 5710PB',
                    nombre: 'Licuadora LKM 5710PB Koblenz 10Vel Blanco -Ort',
                    linkImg: './assets/images/linea-blanca/licuadoras/LKM 5710PB.png'
                },
                {
                    marca: 'koblenz',
                    modelo: 'LKM 6529 VVI',
                    nombre: 'Licuadora LKM 6529 VVI Koblenz 600W Acero Inox V/Plastico -Al',
                    linkImg: './assets/images/linea-blanca/licuadoras/LKM 6529 VVI.png'
                },
                {
                    marca: 'koblenz',
                    modelo: 'LKM6529',
                    nombre: 'Licuadora Koblenz LKM6529 3V Silver',
                    linkImg: './assets/images/linea-blanca/licuadoras/LKM6529.png'
                },
                {
                    marca: 'tfal',
                    modelo: 'LN2898MX',
                    nombre: 'Licuadora T-Fal LN2898MX 8 Funciones Negra',
                    linkImg: './assets/images/linea-blanca/licuadoras/LN2898MX.png'
                },
                {
                    marca: 'tfal',
                    modelo: 'LN8121MX',
                    nombre: 'Licuadora T-Fal Infinyforce LN8121MX 12V Blanca',
                    linkImg: './assets/images/linea-blanca/licuadoras/LN8121MX.png'
                }
            ]
        },
        //Fin de licuadoras ===============================

        //Inicio de cafeteras =============================
        {
            categoria: 'Cafeteras',
            value: 'cafeteras',
            productos: [
                {
                    marca: "oster",
                    modelo: "BVSTDC3390-013",
                    nombre: "Cafetera BVSTDC3390-013 Oster 35 Tazas -Alb_",
                    linkImg: './assets/images/linea-blanca/cafeteras/BVSTDC3390-013.png'
                },
                {
                    marca: "oster",
                    modelo: "BVSTDC3394013",
                    nombre: "Cafetera Precoladora Oster BVSTDC3394013 100 Tazas Acero",
                    linkImg: './assets/images/linea-blanca/cafeteras/BVSTDC3394013.png'
                },
                {
                    marca: "oster",
                    modelo: "BVSTDCDR5B013",
                    nombre: "Cafetera Oster 4 tazas Filtro permanente BVSTDCDR5B013",
                    linkImg: './assets/images/linea-blanca/cafeteras/BVSTDCDR5B013.png'
                },
                {
                    marca: "koblenz",
                    modelo: "CKM650",
                    nombre: "Cafetera Espresso Koblenz Acero 4 Tazas CKM650",
                    linkImg: './assets/images/linea-blanca/cafeteras/CKM650.png'
                },
                {
                    marca: "tfal",
                    modelo: "CM3215MX",
                    nombre: "Cafetera de Goteo T-Fal CM3215MX 6 Tazas Roja",
                    linkImg: './assets/images/linea-blanca/cafeteras/CM3215MX.png'
                }
            ]
        },
        //Fin de cafeteras ================================

        //Inicio de hornos electricos =====================
        {
            categoria: 'Hornos',
            value: 'hornos',
            productos: [            
                {
                    marca: 'maytag',
                    modelo: 'MEW9530FZ',
                    nombre: 'Horno Empotrable Eléctrico Maytag MEW9530FZ 76cm Acero',
                    linkImg: './assets/images/linea-blanca/hornos-electricos/MEW9530FZ.png'
                },
                {
                    marca: 'osten',
                    modelo: 'TSSTV7030',
                    nombre: 'Horno Eléctrico Oster TSSTV7030 30L Gris',
                    linkImg: './assets/images/linea-blanca/hornos-electricos/TSSTV7030.png'
                },
                {
                    marca: 'whirlpool',
                    modelo: 'WOE120S',
                    nombre: 'Horno Eléctrico Empotrable Whirlpool WOE120S 60 Cms Acero Inoxidable',
                    linkImg: './assets/images/linea-blanca/hornos-electricos/WOE120S.png'
                }
            ]
        }
        //Fin de hornos electricos ========================
    ]