-
    let modaProductData = [

        //Inicio de Vestidos
        {
            categoria: 'Vestidos',
            value: 'vestidos',
            productos: [
                {
                    numero: 1,
                    modelo: 172452,
                    precio: '1361.80',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda1.jpg'
                },
                {
                    numero: 2,
                    modelo: 172768,
                    precio: '1587.30',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda2.jpg'
                },

                {
                    numero: 3,
                    modelo: 171637,
                    precio: '2328.70',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda3.jpg'
                },

                {
                    numero: 4,
                    modelo: 171418,
                    precio: '1587.30',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda4.jpg'
                },

                {
                    numero: 5,
                    modelo: 171417,
                    precio: '1797.40',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda5.jpg'
                },

                {
                    numero: 6,
                    modelo: 171852,
                    precio: '1314.50',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda6.jpg'
                },        

                {
                    numero: 7,
                    modelo: 171892,
                    precio: '1555.40',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda7.jpg'
                },

                {
                    numero: 8,
                    modelo: 172000,
                    precio: '1361.40',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda8.jpg'
                },

                {
                    numero: 9,
                    modelo: 172017,
                    precio: '1314.50',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda9.jpg'
                },
                {
                    numero: 10,
                    modelo: 171029,
                    precio: '1314.50',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda10.jpg'
                },
                {
                    numero: 11,
                    modelo: 171532,
                    precio: '1587.30',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda11.jpg'
                },
                {
                    numero: 12,
                    modelo: 171557,
                    precio: '1926.10',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda12.jpg'
                },
                {
                    numero: 13,
                    modelo: 171828,
                    precio: '1361.80',
                    descripcion: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
                    linkImg: './assets/images/vestidos/moda13.jpg'
                }
            ]
        },
        //Fin de vestidos

        //Inicio de bolsas
        {
            categoria: 'Bolsas',
            value: 'bolsas',
            productos:[
                {
                    modelo: 'Bao bao',
                    precio: '250',
                    descripcion: '',
                    linkImg: './assets/images/vestidos/bolsa1.png'
                },
                {
                    modelo: 'Bao bao',
                    precio: '250',
                    descripcion: '',
                    linkImg: './assets/images/vestidos/bolsa2.png'
                },
                {
                    modelo: 'Bao bao',
                    precio: '500',
                    descripcion: '',
                    linkImg: './assets/images/vestidos/bolsa3.png'
                },
                {
                    modelo: 'Bao bao',
                    precio: '500',
                    descripcion: '',
                    linkImg: './assets/images/vestidos/bolsa4.png'
                },{
                    modelo: 'Bao bao',
                    precio: '500',
                    descripcion: '',
                    linkImg: './assets/images/vestidos/bolsa5.png'
                },
                {
                    modelo: 'Bao bao',
                    precio: '500',
                    descripcion: '',
                    linkImg: './assets/images/vestidos/bolsa6.png'
                }
            ]
        }
        //Fin de bolsas
    ]