-
    let recauderiaProductData = [
        {
            title: 'Aguacate Hass',
            imglink: './assets/images/recauderia/aguacate-hass.jpg'
        },
        {
            title: 'Jicama',
            imglink: './assets/images/recauderia/jicama.jpg'
        },
        {
            title: 'Jitomate Bola',
            imglink: './assets/images/recauderia/jitomate-bola.jpg'
        },
        {
            title: 'Jitomate Guaje',
            imglink: './assets/images/recauderia/jitomate-guaje.jpg'
        },
        {
            title: 'Limón Persa',
            imglink: './assets/images/recauderia/limon-persa.jpg'
        },
        {
            title: 'Manzana Golden',
            imglink: './assets/images/recauderia/manzana-golden.jpg'
        },
        {
            title: 'Melon Chino',
            imglink: './assets/images/recauderia/melon-chino.jpg'
        },
        {
            title: 'Papaya Maradol',
            imglink: './assets/images/recauderia/papaya-maradol.jpeg'
        },
        {
            title: 'Ajo Criollo',
            imglink: './assets/images/recauderia/ajo-criollo.jpg'
        },
        {
            title: 'Albahaca',
            imglink: './assets/images/recauderia/albahaca.png'
        },
        {
            title: 'Cebolla Blanca',
            imglink: './assets/images/recauderia/cebolla-blanca.png'
        },
        {
            title: 'Cebolla Morada',
            imglink: './assets/images/recauderia/cebolla-morada.jpg'
        },
        {
            title: 'Champiñon',
            imglink: './assets/images/recauderia/champinon.jpg'
        },
        {
            title: 'Chile Habanero',
            imglink: './assets/images/recauderia/chile-habanero.jpg'
        },
        {
            title: 'Chile Serrano',
            imglink: './assets/images/recauderia/chile-serrano.png'
        },
        {
            title: 'Cilantro',
            imglink: './assets/images/recauderia/cilantro.jpg'
        },
        {
            title: 'Epazote',
            imglink: './assets/images/recauderia/epazote.jpg'
        },
        {
            title: 'Lechuga Italiana',
            imglink: './assets/images/recauderia/lechuga-italiana.jpg'
        },
        {
            title: 'Lechuga Sangría',
            imglink: './assets/images/recauderia/lechuga-sangria.jpg'
        },
        {
            title: 'Papa Alpha',
            imglink: './assets/images/recauderia/papa-alpha.jpg'
        },
        {
            title: 'Pepino',
            imglink: './assets/images/recauderia/pepino.jpg'
        },
        {
            title: 'Perejil',
            imglink: './assets/images/recauderia/perejil.jpg'
        },
        {
            title: 'Pimiento Amarillo',
            imglink: './assets/images/recauderia/pimiento-amarillo.jpg'
        },
        {
            title: 'Pimiento Rojo',
            imglink: './assets/images/recauderia/pimiento-rojo.jpg'
        },
        {
            title: 'Pimiento Verde',
            imglink: './assets/images/recauderia/pimiento-verde.jpg'
        },
        {
            title: 'Tomate Verde',
            imglink: './assets/images/recauderia/tomate-verde.jpg'
        },
        {
            title: 'Zanahoria',
            imglink: './assets/images/recauderia/zanahoria.jpg'
        }
    ]