-
    let articulos_promocionalesProductData = [
        {
            imglink: './assets/images/articulos_promocionales/Agendas.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/Boligrafos.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/Bolsas.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/CilindrosPlas.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/Gorras.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/ImpresionDig.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/Libretas.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/Llavero.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/Playeras.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/TarjetasPre.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/Tazas.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/Termos.png'
        },
        {
            imglink: './assets/images/articulos_promocionales/USB.png'
        }
    ]