-
    let cervezasProductData = [
        {
            title: 'Victoria',
            tipo: 'Oscura',
            porcentaje: '4%',
            presentacion: 'Presentación de 1,2 ml',
            descripcion: 'Cerveza mexicana tipo Viena, que ofrece un agradable aroma a maltas y lúpulo, con un color ámbar',
            imglink: './assets/images/cervezas/victoria-mega.jpg'
        },
        {
            title: 'Victoria',
            tipo: 'Oscura',
            porcentaje: '4%',
            presentacion: 'Latón de 473 ml',
            descripcion: 'Cerveza mexicana tipo Viena, que ofrece un agradable aroma a maltas y lúpulo, con un color ámbar',
            imglink: './assets/images/cervezas/victoria-laton.jpg'
        },
        {
            title: 'Victoria',
            tipo: 'Oscura',
            porcentaje: '4%',
            presentacion: 'Lata de 355 ml',
            descripcion: 'Cerveza mexicana tipo Viena, que ofrece un agradable aroma a maltas y lúpulo, con un color ámbar',
            imglink: './assets/images/cervezas/victoria-lata.jpg'
        },
        {
            title: 'Modelo Especial',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: '1,000 ml',
            descripcion: 'Cerveza Americana tipo Pilsner, llena de actitud e imagen así como una gran tradición de sabor y cuerpo',
            imglink: './assets/images/cervezas/modelo-especial-mega.jpg'
        },
        {
            title: 'Modelo Especial',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Latón de 473 ml',
            descripcion: 'Cerveza Americana tipo Pilsner, llena de actitud e imagen así como una gran tradición de sabor y cuerpo.',
            imglink: './assets/images/cervezas/modelo-especial-laton.jpg'
        },
        {
            title: 'Modelo Especial',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Lata de 355 ml',
            descripcion: 'Cerveza Americana tipo Pilsner, llena de actitud e imagen así como una gran tradición de sabor y cuerpo',
            imglink: './assets/images/cervezas/modelo-especial-lata.jpg'
        },
        {
            title: 'Modelo Especial',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Botella de 355 ml',
            descripcion: 'Cerveza Americana tipo Pilsner, llena de actitud e imagen así como una gran tradición de sabor y cuerpo.',
            imglink: './assets/images/cervezas/modelo-especial-botella.jpg'
        },
        {
            title: 'Modelo Ambar',
            tipo: 'Oscura',
            porcentaje: '4.9%',
            presentacion: 'Botella de 355 ml',
            descripcion: 'Modelo Ámbar es una cerveza tipo lager de estilo Vienna, color intenso. Aporta una espuma cremosa, sabor a caramelo y malta tostada con un final ligeramente seco.',
            imglink: './assets/images/cervezas/modelo-ambar-botella.jpg'
        },
        {
            title: 'Modelo Negra',
            tipo: 'Oscura',
            porcentaje: '5.3%',
            presentacion: 'Botella de 355 ml',
            descripcion: 'Es una cerveza tipo lager de estilo Munich y color oscuro. Con 5.3% de nivel de alcohol, tiene un sabor más intenso y equilibrado, aroma a caramelo y malta tostada y un sabor con un final poco intenso por su selección de lúpulo.',
            imglink: './assets/images/cervezas/modelo-negra-botella.jpg'
        },
        {
            title: 'Negra Modelo',
            tipo: 'Oscura',
            porcentaje: '5.3%',
            presentacion: 'Lata de 355 ml',
            descripcion: 'Cerveza americana tipo Múnich, que ofrece un dabor equilibrado y delicado aroma a malta',
            imglink: './assets/images/cervezas/negra-modelo-lata.jpg'
        },
        {
            title: 'León',
            tipo: 'Oscura',
            porcentaje: '4.5%',
            presentacion: 'Retornable 1,2 ml',
            descripcion: 'Cerveza tipo munich con un gran aroma y cuerpo, en el que se mezclan dulzura y suave amargor, acompañados de una blanca espumas',
            imglink: './assets/images/cervezas/leon-mega.jpg'
        },
        {
            title: 'León',
            tipo: 'Oscura',
            porcentaje: '4.5%',
            presentacion: 'Lata 355 ml',
            descripcion: 'Cerveza tipo munich con un gran aroma y cuerpo, en el que se mezclan dulzura y suave amargor, acompañados de una blanca espumas',
            imglink: './assets/images/cervezas/leon.jpg'
        },
        {
            title: 'Mega Corona',
            tipo: 'Clara',
            porcentaje: '4,5%',
            presentacion: 'Retornable de 1,2 ml',
            descripcion: 'Corona Extra es la cerveza mexicana con mayor venta en el mundo. Considerada una de las marcas más valiosas del planeta Corona Extra se enfoca en dar una sensación de frescura y relajación a sus consumidores.',
            imglink: './assets/images/cervezas/mega-corona.png'
        },
        {
            title: 'Corona Extra',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Latón de 473 ml',
            descripcion: 'Corona Extra es la cerveza mexicana de mayor venta en el mundo. De tipo pilsner con un refrescante sabor, esta cerveza se enfoca en la gente que busca relajarse un poco',
            imglink: './assets/images/cervezas/corona-extra-laton.png'
        },
        {
            title: 'Corona Extra',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: 'Lata de 355 ml',
            descripcion: 'Corona Extra es la cerveza mexicana de mayor venta en el mundo. De tipo pilsner con un refrescante sabor, esta cerveza se enfoca en la gente que busca relajarse un poco',
            imglink: './assets/images/cervezas/corona-extra-lata.jpg'
        },
        {
            title: 'Corona Light',
            tipo: 'Clara',
            porcentaje: '3.9%',
            presentacion: 'Latón 355 ml',
            descripcion: 'Es la primera cerveza tipo light lager que produjo Grupo Modelo. Es una cerveza ligera que contiene 30% menos calorías que la corona extra',
            imglink: './assets/images/cervezas/corona-light.jpg'
        },
        {
            title: 'Corona Ligera',
            tipo: 'Clara',
            porcentaje: '1.8%',
            presentacion: 'Latón 355 ml',
            descripcion: 'Cerveza que nace como una alternativa a este regreso a la normalidad. Para los que buscan una manera responsable y moderada de consumo sin perder la frescura y todo el sabor de la corona de siempre',
            imglink: './assets/images/cervezas/corona-ligera.jpg'
        },
        {
            title: 'Stella Artois',
            tipo: 'Clara',
            porcentaje: '5.2%',
            presentacion: '355 ml',
            descripcion: 'La cerveza belga más vendida del mundo. De tipo lager, fermentación baja y elaborada solo con malta. Tiene mucho cuerpo, un carácter equilibrado y un olor ligero y refrescante que oculta su fuerza',
            imglink: './assets/images/cervezas/stella-artois.jpg'
        },
        {
            title: 'Cucapá Border',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: '355 ml',
            descripcion: 'Cerveza artesanal Cucapá Border es una cerveza ámbar estilo Amber Ale.',
            imglink: './assets/images/cervezas/cucapa-border-lata.jpg'
        },
        {
            title: 'Cucapá Obscura',
            tipo: 'Obscura',
            porcentaje: '4.5%',
            presentacion: '355 ml',
            descripcion: 'Esta brown ale se encuentra formada por malta de caramelo, nuez y chocolate, los cuales brindan el sabor y aroma digno de una excelente cerveza oscura.',
            imglink: './assets/images/cervezas/cucapa-obscura-lata.jpg'
        },
        {
            title: 'Cucapá 57',
            tipo: 'Lagers Clara',
            porcentaje: '4.5%',
            presentacion: '355 ml',
            descripcion: 'La Cervecería de Baja California es responsable de Cucapá, una deliciosa marca de cerveza con un ecléctico portafolio de etiquetas y estilos para todos los gustos. Conoce ahora su nueva cerveza Cucapá 57. Esta cerveza dorada no te defraudará cuando lo que busque sea refrescarte.',
            imglink: './assets/images/cervezas/cucapa-57-lata.jpg'
        },
        {
            title: 'Bud Light',
            tipo: 'Lagers Clara',
            porcentaje: '4.2%',
            presentacion: '355 ml',
            descripcion: 'Una cerveza de origen checo, patentada en los Estados Unidos y una de las más populares en dicho país. Budweiser se hace con una proporción de arroz de hasta un 30%, además de lúpulo y malta de cebada.',
            imglink: './assets/images/cervezas/bud-light-lata.jpg'
        },
        {
            title: 'Pacifico',
            tipo: 'Clara',
            porcentaje: '4.5%',
            presentacion: '355 ml',
            descripcion: 'Pacifico Clara, es una cerveza refrescante, fácil de tomar que insita a relajarse y pasar un buen momento en compañía, disfruta del gran sabor del Pacífico en cualquier momento.',
            imglink: './assets/images/cervezas/pacifico-clara-lata.jpg'
        },
        {
            title: 'Michelob Ultra',
            tipo: 'Clara',
            porcentaje: '4.2%',
            presentacion: 'Latón de 355 ml',
            descripcion: ' Se caracteriza por su ligereza, su color dorado claro y sus notas sutiles de cítricos. Las maltas de Munich y lúpulos europeos son lo que dan cuerpo y la vuelven refrescante.',
            imglink: './assets/images/cervezas/michelob-ultra-laton.jpg'
        },
    ]