-
    let tecnologiaProductData = [
        //Inicio de Televisiones
        {
            categoria: 'Televisiones',
            value: 'television',
            productos: [
                {
                    name: 'Pantalla LED HKPro 32" HD Smart TV',
                    modelo: 'HKP32SM7',
                    imgLink: '../assets/images/tecnologia/HKP32SM7.jpg',
                    especificaciones: [
                        'Dimensiones 0.732m x 0.432m x 0.14m',
                        'Hz 60',
                        'Tamaño de la Pantalla 32 Pulgadas',
                        'Contenido del Empaque 1 Pantalla, 1 Control Remoto',
                        'Smart TV',
                        'HDMI',
                        'Resolución 1366x768',
                        'Calidad de la imagen HD',
                        'USB',
                        'Tipo de pantalla LED',
                        'Pulgadas 32'
                    ]
                },
                {
                    name: 'Pantalla LED HKPro 40” FHD Smart TV',
                    modelo: 'HKP40SM9',
                    imgLink: '../assets/images/tecnologia/HKP40SM9.jpg',
                    especificaciones: [
                        'Salida de Audío Digital',
                        'Entrada de AV',
                        'Dimensiones 0.88m x 0.52m x 0.15m',
                        'Hz 60',
                        'Tamaño de la Pantalla 40"',
                        'Smart TV',
                        'HDMI 2',
                        'Resolución 1920 x 1080',
                        'Calidad de la imagen Full HD',
                        'USB 1',
                        'Pulgadas 40'
                    ]
                },
                {
                    name: 'Pantalla LED Hisense 50" 4K Smart Tv',
                    modelo: '50H8G',
                    imgLink: '../assets/images/tecnologia/50H8G.jpg',
                    especificaciones: [
                        'Potencia 200 Watts',
                        'HDR',
                        'Entrada de AV',
                        'Dimensiones 1.11m x 0.72m x 0.24m',
                        'Tamaño de la Pantalla 50"',
                        'WI-FI',
                        'Bluetooth',
                        'Smart TV',
                        'HDMI',
                        'Resolución 3840 x 2160',
                        'Calidad de la imagen 4K UHD',
                        'USB',
                        'Tipo de pantalla LED',
                        'Voltaje 120 Volts',
                        'Pulgadas 50'
                    ]
                },
                {
                    name: 'Pantalla LED HKPro 58" 4K Smart',
                    modelo: 'HKP58UHD7',
                    imgLink: '../assets/images/tecnologia/HKP58UHD7.jpg',
                    especificaciones: [
                        'Entrada de AV',
                        'Dimensiones 1.3m x 0.75m x 0.086m',
                        'Audio Digital',
                        'Hz 60',
                        'Tipo de Panel LED',
                        'Tamaño de la Pantalla 58"',
                        'Smart TV',
                        'HDMI',
                        'Calidad de la imagen 4K UHD',
                        'USB'
                    ]
                },
                {
                    name: 'Pantalla LED Samsung 65 Pulgadas 4K Smart',
                    modelo: 'UN65TU7000FXZX',
                    imgLink: '../assets/images/tecnologia/UN65TU7000FXZX.jpg',
                    especificaciones: [
                        'Salida de Audío Digital',
                        'HDR',
                        'Dimensiones 141 x 87 x 16 cm',
                        'Colores vívidos y detalles más precisos.',
                        '65 Pulgadas',
                        'Smart TV',
                        'HDMI',
                        '4K UHD',
                        'USB',
                        'Ahorro de Energía',
                        'LED',
                        'Entrada Auxilar 3.5 mm'
                    ]
                },
                {
                    name: 'Pantalla LED LG 60 Pulgadas 4K Smart',
                    modelo: '60UN7300PUA',
                    imgLink: '../assets/images/tecnologia/60UN7300PUA.jpg',
                    especificaciones: [
                        'Potencia Audío 20W (10W por canal)',
                        'Dimensiones 1.13m x 0.7m x 0.1m',
                        '60 Hz',
                        '60 Pulgadas',
                        'Bluetooth',
                        'Smart TV',
                        'HDMI',
                        'Resolución 3840 x 2160',
                        '4K UHD',
                        'USB',
                        'LED'
                    ]
                },
                {
                    name: 'Pantalla LED LG Al ThinQ 55 Pulgadas 4K Smart',
                    modelo: '55UN7100PUA',
                    imgLink: '../assets/images/tecnologia/55UN7100PUA.jpg',
                    especificaciones: [
                        'HDR',
                        'Entrada de AV',
                        'Dimensiones 1.2m x 0.6m x 0.15m',
                        'Consumo de Energía AC 100~240 V 50-60 Hz',
                        '55 Pulgadas',
                        'Bluetooth',
                        'Smart TV',
                        'HDMI',
                        'Resolución 3840 x 2160',
                        '4K UHD',
                        'USB'
                    ]
                },
                {
                    name: 'Pantalla LED Sony 49 Pulgadas 4K Smart',
                    modelo: '49X720F',
                    imgLink: '../assets/images/tecnologia/49X720F.jpg',
                    especificaciones: [
                        'Potencia 110 Watts',
                        'HDR',
                        'Dimensiones 1.103m x 0.703m x 0.28m',
                        '49 Pulgadas',
                        'WI-FI',
                        'Bluetooth',
                        'Smart TV',
                        'HDMI',
                        'Resolución 3841 X 2160',
                        '4K UHD',
                        'USB'
                    ]
                },
                {
                    name: 'Pantalla LED Samsung 82 Pulgadas Smart',
                    modelo: 'UN82TU7000FXZX',
                    imgLink: '../assets/images/tecnologia/UN82TU7000FXZX.jpg',
                    especificaciones: [
                        'HDR',
                        'Dimensiones 1.83m x 1.15m x 0.26m',
                        'Consumo de Energía 270 Watts',
                        '82 Pulgadas',
                        'WI-FI',
                        'Bluetooth',
                        'Smart TV',
                        'HDMI',
                        'Resolución 3840 x 2160',
                        '4K UHD',
                        'USB'
                    ]
                },
                {
                    name: 'Pantalla LED Sony 32 Pulgadas HD Smart',
                    modelo: 'KDL-32W600D',
                    imgLink: '../assets/images/tecnologia/KDL-32W600D.jpg',
                    especificaciones: [
                        'Dimensiones 0.55m x 0.82m x 0.16m',
                        '60 Hz',
                        '32 Pulgadas',
                        'Smart TV',
                        'HDMI',
                        'Resolución 1366 x 768',
                        'HD',
                        'USB',
                        'Tipo de pantalla LED'
                    ]
                },
                {
                    name: 'Pantalla OLED Sony Bravia 65 Pulgadas 4K Smart',
                    modelo: 'XBR-65A8H',
                    imgLink: '../assets/images/tecnologia/XBR-65A8H.jpg',
                    especificaciones: [
                        'HDR',
                        'Dimensiones 1.44m x 0.9m x 0.32m',
                        '60 Hz',
                        '65 Pulgadas',
                        'WI-FI',
                        'Bluetooth',
                        'Smart TV',
                        'HDMI',
                        'Resolución 3842 x 2160',
                        '4K UHD',
                        'USB'
                    ]
                }
            ]
        },
        //Fin de Televisiones

        //Inicio de Computadoras
        {
            categoria: 'Computadoras',
            value: 'computadoras',
            productos: [
                {
                    name: 'Laptop Lenovo V15-IGL Intel Celeron N4020 RAM 4GB DD 500GB W10H 15.6"',
                    modelo: '82C3001JLM',
                    imgLink: '../assets/images/tecnologia/82C3001JLM.jpg',
                    especificaciones: [
                        'Duración de la Batería 5.5 Horas',
                        'Sonido: High Definition (HD) Audio',
                        'USB 3.1',
                        'Tamaño de la Pantalla 15.6 Pulgadas',
                        'Bluetooth',
                        'Cámara WEB',
                        'HDMI',
                        'Color Gris',
                        'Sistema Operativo Windows 10 Home',
                        'Entrada Auxilar 3.5 mm',
                        'Gráficos de Video: Video UHD Graphics 600',
                        'USB 2.0'
                    ]
                },
                {
                    name: 'Laptop HP Pavilion x360 Intel Core i5 RAM 8GB SSD 256GB W10H 14"',
                    modelo: 'HP PAVILION X360 CONVERTI',
                    imgLink: '../assets/images/tecnologia/HP PAVILION X360 CONVERTI.jpg',
                    especificaciones: [
                        'Estado Solido 256 GB',
                        'Duración de la Batería hasta 12 Horas',
                        'Sonido: Con altavoces dobles de HP Audio Boost',
                        'USB 3.1',
                        'Tamaño de la Pantalla 14 Pulgadas',
                        'WI-FI',
                        'Pantalla táctil',
                        'Bluetooth',
                        'HDMI',
                        'Color: Dorado',
                        'Sistema Operativo Windows 10 Home',
                        'Entrada Auxilar 3.5 mm',
                        'Gráficos de Video: Integrada Gráficos Intel UHD',
                        'Webcam: Cámara HD HP Wide Vision HD con doble micrófono digital integrado'
                   ]
                },
                {
                    name: 'Laptop HP AMD Ryzen 3 RAM 8GB SSD 256GB W10 15"',
                    modelo: '15-EF1008LA',
                    imgLink: '../assets/images/tecnologia/15-EF1008LA.jpg',
                    especificaciones: [
                        'Estado Solido 256 GB',
                        'Duración de la Batería hasta 10 Hrs (Uso Mixto) y Hasta 8 Hrs (Video)',
                        'Sonido: Dual speakers',
                        '15 Pulgadas',
                        'WI-FI',
                        'Bluetooth',
                        'HDMI',
                        'USB',
                        'Color: Dorado',
                        'Sistema Operativo Windows 10',
                        'Webcam HD'
                    ]
                },
                {
                    name: 'Laptop Huawei Matebook D14 AMD Ryzen 5 RAM 8GB DD 512GB W10H 14"',
                    modelo: 'NBL-WAQ9R',
                    imgLink: '../assets/images/tecnologia/NBL-WAQ9R.jpg',
                    especificaciones: [
                        'Duración de la Batería 7 Horas',
                        'Sonido: 2 Altavoces Sonido Estéreo',
                        'Tamaño de la Pantalla 14 Pulgadas',
                        'WI-FI',
                        'Bluetooth',
                        'Cámara WEB',
                        'Color: Gris',
                        'Sistema Operativo Windows 10 Home'
                    ]
                },
                {
                    name: 'Laptop Asus VivoBook X512DA AMD Ryzen 5 RAM 8GB DD 1TB+256GB SSD W10 15.6"',
                    modelo: 'X512D',
                    imgLink: '../assets/images/tecnologia/X512D.jpg',
                    especificaciones: [
                        'Estado Solido 256 GB',
                        'Tamaño de la Pantalla 15.6 Pulgadas',
                        'WI-FI',
                        'Bluetooth',
                        'Cámara WEB',
                        'HDMI',
                        'Resolución 1366 x 768',
                        'Color: Azul',
                        'Sistema Operativo Windows 10 Home',
                        'Tarjeta Gráfica: Radeon Vega 8 Graphics',
                        'USB 2.0',
                        'Lector de Tarjetas Micro SD'
                    ]
                },
                {
                    name: 'Laptop Spectre x360 Intel core i7 RAM 8GB SSD 512 GB',
                    modelo: 'Spectre x360 - 13-aw0001la',
                    imgLink: '../assets/images/tecnologia/Spectre x360 - 13-aw0001la.jpg',
                    especificaciones: [
                        'Duración de la Batería hasta 22 horas',
                        'USB 3.1',
                        'Resolución de Pantalla 1920 x 1080 pixeles',
                        'Tamaño de la Pantalla 13.3 Pulgadas',
                        'Cámara WEB',
                        'Resolución 1920 x 1080',
                        'Cámara Frontal',
                        'Procesador: Intel Core i7-1065G7 (frecuencia base de 1,3 GHz, hasta 3,9 GHz con tecnología Intel Turbo Boost, 8 MB de caché L3 y 4 núcleos)',
                        'Tipo de pantalla WLED',
                        'Sistema Operativo Windows 10 Home',
                        'Tarjeta Gráfica Intel Iris Plus',
                        'Webcam',
                        'Batería: Polímero de iones de litio, de 4 celdas y 60 Wh'
                    ]
                },
                {
                    name: 'LAPTOP HP 240 G7 i5-1035G1 8GB 1TB 14"',
                    modelo: '1F3U4LA',
                    imgLink: '../assets/images/tecnologia/1F3U4LA.jpg',
                    especificaciones: [
                        'Procesador Intel de decima generacion',
                        'Tipo: Notebook',
                        'Procesador: Core i5 1035G1',
                        'Velocidad base: 1.0 GHZ',
                        'Tipo de memoria: DDR4 2666',
                        'Formato de memoria: SO-DIMM',
                        'Tipo de pantalla: HD'
                    ]
                }
            ]
        }
        //Fin de computadoras
    ]