-
    let consumiblesProductData = [
        {
            nombre: 'Papel Higienico en Bobina',
            imgLink: './assets/images/consumibles/consumible_1.png',
            descripcion: [
                'Largo: 160,180, 200, 250, 300, 400, 500, 700 metros',
                'Ancho: 8.5 Y 9 cm' 
            ]
        },
        {
            nombre: 'Despachador',
            imgLink: './assets/images/consumibles/consumible_2.png',
            descripcion: [ 
                'Despachador para Papel Higienico en Bobina',
                'Para bobinas de hasta 700 metros',
                'Color: Humo, Blanco, Gris, Negro'
            ]

        },
        {
            nombre: 'Papel Higienico Fluido Centrico',
            imgLink: './assets/images/consumibles/consumible_3.png',
            descripcion: [
                'De 400 hasta 1600 Hojas',
                'La cantidad de hojas depende de la marca'
            ]
        },
        {
            nombre: 'Despachador',
            imgLink: './assets/images/consumibles/consumible_4.png',
            descripcion: [
                'Despachador para Papel Higienico Fluido Centrico',
                'Para Bobinas de hasta 1250 hojas',
                'Color: Humo, Blanco, Gris, Negro'
            ]
        },
        {
            nombre: 'Hoja Interdoblada',
            imgLink: './assets/images/consumibles/consumible_5.png',
            descripcion: [
                '100, 150, 300 hojas',
                'Color Blanco o Cafe',
                'La cantidad de hojas por paquete depende de la marca'
            ]
        },
        {
            nombre: 'Despachador',
            imgLink: './assets/images/consumibles/consumible_6.png',
            descripcion: [
                    'Despachador de Hoja Interdoblada',
                    'Capacidad hasta 600 hojas'
            ]
        },
        {
            nombre: 'Toalla de papel en rollo',
            imgLink: './assets/images/consumibles/consumible_7.png',
            descripcion: [
                    '160, 180, 200, 350, 500 metros'
            ]
        },
        {
            nombre: 'Despachador',
            imgLink: './assets/images/consumibles/consumible_8.png',
            descripcion: [
                    'Despachador de Toalla en Rollo',
                    'Capacidad hasta 500 metros'
                ]
        },
        {
            nombre: 'Egapack',
            imgLink: './assets/images/consumibles/consumible_9.png',
            descripcion: [
                'Ancho(cm) / Largo(m): 30/600, 30/1500, 45/1200, 45/1500'
            ]            
        },
        {        
            nombre: 'Pelicula Poliestrech',
            imgLink: './assets/images/consumibles/consumible_10.png',
            descripcion: [
                'Calibre 60, 70, 80',
                'Ancho 18"(45cm), 6"(15cm), 5"(13cm)',
                'Varios Colores Disponibles'
            ]            
        },
        {        
            nombre: 'Papel Burbuja para Embalar',
            imgLink: './assets/images/consumibles/consumible_11.png',
            descripcion: [
                'Burbuja chica 120m',
                'Burbuja grande 75m',
                '1.20m de alto'
            ]            
        },
        {        
            nombre: 'Rollo de Flete de Plastico',
            imgLink: './assets/images/consumibles/consumible_12.png',
            descripcion: [
                'Rollo de Flete de Plastico (Polipropileno)',
                'Blanco',
                'Calibre 30',
                'Ancho: 1/2"'
            ]            
        },
        {        
            nombre: 'Bolsa en Rollo Natural',
            imgLink: './assets/images/consumibles/consumible_13.png',
            descripcion: [
                'Calibre 120',
                '600 m',
                '500 m',
                
            ]            
        },
        {        
            nombre: 'Bolsa en Rollo Poliseda',
            imgLink: './assets/images/consumibles/consumible_14.png',
            descripcion: [
                'Venta por KG'                
            ]            
        },
        {        
            nombre: 'Bolsa en Rollo Negra para Basura',
            imgLink: './assets/images/consumibles/consumible_15.png',
            descripcion: [
                '600 m',
                '500 m'                
            ]            
        }
    ]