-
    let desechablesProductData = [
        {
            imglink: './assets/images/desechables/Desechables_1.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_2.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_3.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_4.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_5.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_6.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_7.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_8.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_9.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_10.png'
        },
        {
            imglink: './assets/images/desechables/Desechables_11.png'
        }
    ]