-
    let obsequiosProductData = [
        
        //Inicio de arcones
        {
            categoria: 'Arcones',
            value: 'arcones',
            productos: [
                {
                    modelo: 'FVT020351BCF',
                    descripcion: 'Canasta mediana',
                    imgLink: './assets/images/obsequios/arcones1.jpg'
                },
                {
                    modelo: 'FVT020351BVR',
                    descripcion: 'Canasta mediana',
                    imgLink: './assets/images/obsequios/arcones2.jpg'
                },
                {
                    modelo: 'FVT020351BAC',
                    descripcion: 'Canasta mediana',
                    imgLink: './assets/images/obsequios/arcones3.jpg'
                },
                {
                    modelo: 'CRW020601BCF',
                    descripcion: 'Canasta mediana',
                    imgLink: './assets/images/obsequios/arcones4.jpg'
                },
                {
                    modelo: 'CRW020601BVR',
                    descripcion: 'Canasta mediana',
                    imgLink: './assets/images/obsequios/arcones5.jpg'
                },
                {
                    modelo: 'CRW020601BAC',
                    descripcion: 'Canasta mediana',
                    imgLink: './assets/images/obsequios/arcones6.jpg'
                },
                {
                    modelo: 'FVR02015SB',
                    descripcion: 'Canasta mediana',
                    imgLink: './assets/images/obsequios/arcones7.jpg'
                },
                {
                    modelo: 'CRW020801B',
                    descripcion: 'Canasta mediana',
                    imgLink: './assets/images/obsequios/arcones8.jpg'
                },
                {
                    modelo: 'DWS020651B',
                    descripcion: 'Canasta grande',
                    imgLink: './assets/images/obsequios/arcones9.jpg'
                },
                {
                    modelo: 'DTT020651B',
                    descripcion: 'Canasta grande',
                    imgLink: './assets/images/obsequios/arcones10.jpg'
                },
                {
                    modelo: 'VWS020652B',
                    descripcion: 'Canasta grande',
                    imgLink: './assets/images/obsequios/arcones11.jpg'
                },
                {
                    modelo: 'VTT020652B',
                    descripcion: 'Canasta grande',
                    imgLink: './assets/images/obsequios/arcones12.jpg'
                },
                {
                    modelo: 'FVT020401B',
                    descripcion: 'Canasta grande',
                    imgLink: './assets/images/obsequios/arcones13.jpg'
                },
                {
                    modelo: 'DWS220102B',
                    descripcion: 'Canasta grande',
                    imgLink: './assets/images/obsequios/arcones14.jpg'
                },
                {
                    modelo: 'DWS020651B',
                    descripcion: 'Canasta grande',
                    imgLink: './assets/images/obsequios/arcones15.jpg'
                },
                {
                    modelo: 'D020552B',
                    descripcion: 'Canasta grande',
                    imgLink: './assets/images/obsequios/arcones16.jpg'
                }
            ]
        },
        //Fin de arcones

        //Inicio de agendas
        {
            categoria: 'Agendas',
            value: 'agendas',
            productos: [
                {
                    nombre: 'Agenda Mini Clásica 2022',
                    imgLink: './assets/images/obsequios/clasica-mini-azul.jpg',
                    caracteristicas: [
                        'Paginas: 77',
                        'Material: Curpiel',
                        'Medida: 11 x 17.5 cm',
                        'Colores: Azul, Azul Cielo, Beige, Café, Gris, Negra, Tinto, Verde',
                        'Tecnica de Impresión: Láser / Serigrafía / Termograbado',
                        'Contiene calendarios 2021-2023, calendario 2022, planeador 2022, programador anual, planificador diario, planificador de proyecto y agenda semanal con días festivos oficiales.'
                    ]
                },
                {
                    nombre: 'Agenda Diaria Clásica 2022',
                    imgLink: './assets/images/obsequios/clasica-azul.jpg',
                    caracteristicas: [
                        'Paginas: 227',
                        'Material: Curpiel',
                        'Medida: 14 x 21 cm',
                        'Colores: Azul, Azul Cielo, Beige, Café, Gris, Negra, Tinto, Verde',
                        'Tecnica de Impresión: Láser / Serigrafía / Termograbado',
                        'Contiene calendarios 2021-2023, calendario 2022, planeador 2022, programador anual, presupuesto de gastos, planificador semanal, planificador de proyecto y agenda diaria con días festivos oficiales. Incluye caja individual'
                    ]
                },
                {
                    nombre: 'Agenda Ejecutiva Clásica 2022',
                    imgLink: './assets/images/obsequios/ejecutiva-clasica.jpg',
                    caracteristicas: [
                        'Paginas: 81',
                        'Material: Curpiel',
                        'Medida: 20.5 x 23.5 cm',
                        'Colores: Azul, Azul Cielo, Beige, Café, Gris, Negra, Tinto, Verde',
                        'Tecnica de Impresión: Láser / Serigrafía / Termograbado',
                        'Contiene calendarios 2021-2023, calendario 2022, planeador 2022, programador anual, presupuesto de gastos, planificador diario, planificador de proyecto y agenda semanal con días festivos oficiales. Incluye caja individual.'
                    ]
                },
                {
                    nombre: 'Agenda Mini Terra 2022',
                    imgLink: './assets/images/obsequios/terra-mini.jpg',
                    caracteristicas: [
                        'Paginas: 80',
                        'Material: Curpiel',
                        'Medida: 11 x 17.5 cm',
                        'Colores: Azul Rey, Azul Cielo, Morado, Naranja, Rosa, Rojo, Verde',
                        'Tecnica de Impresión: Láser / Serigrafía / Termograbado',
                        'Contiene calendarios 2021-2023, calendario 2022, planeador 2022, planificador diario, planificador de proyecto, agenda semanal con días festivos oficiales. Incluye caja individual.'
                    ]
                },
                {
                    nombre: 'Agenda Diaria Terra 2022',
                    imgLink: './assets/images/obsequios/diaria-terra.jpg',
                    caracteristicas: [
                        'Paginas: 79',
                        'Material: Curpiel',
                        'Medida: 14 x 21 cm',
                        'Colores: Azul Rey, Azul Cielo, Morado, Naranja, Rosa, Rojo, Verde',
                        'Tecnica de Impresión: Láser / Serigrafía / Termograbado',
                        'Contiene calendarios 2021-2023, calendario 2022, planeador 2022, planificador semanal, planificador de proyecto, agenda diaria con días festivos oficiales y notas. Incluye caja individual.'
                    ]
                },
                {
                    nombre: 'Agenda Semanal USB HERZE 2022',
                    imgLink: './assets/images/obsequios/semanal-usb.jpg',
                    caracteristicas: [
                        'Paginas: 76',
                        'Material: Curpiel',
                        'Medida: 16.6 x 22 cm',
                        'Colores: Gris',
                        'Capacidad USB: 4GB',
                        'Tecnica de Impresión: Láser / Serigrafía / Termograbado',
                        'Contiene calendarios 2021-2023, calendario 2022, planeador 2022, programador anual, presupuesto de gastos, planificador diario, planificador de proyecto y agenda semanal con días festivos oficiales. Incluye caja individual.',
                        'Compartimento externo para smartphone y bolígrafo. Compartimento interno para tarjetas y documentos.'
                    ]
                }
            ]
        }
        //Fin de agendas 
    ]