// 100
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: url('./../assets/fonts/montserrat/woff2/Montserrat-100.woff2') format('woff2'), //Super Mordern Browsers
    url('./../assets/fonts/montserrat/woff/Montserrat-100.woff') format('woff'), // Modern Browsers
    url('./../assets/fonts/montserrat/eot/Montserrat-100.eot'), //IE 9
    url('./../assets/fonts/montserrat/eot/Montserrat-100.eot?#iefix') format('embedded-opentype'), //IE 6-8
    url('./../assets/fonts/montserrat/ttf/Montserrat-100.ttf') format('truetype'), // Safari, Android, iOS
    url('./../assets/fonts/montserrat/svg/Montserrat-100.svg') format('svg'); // Legacy iOS
}

// 200
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: url('./../assets/fonts/montserrat/woff2/Montserrat-200.woff2') format('woff2'), //Super Mordern Browsers
    url('./../assets/fonts/montserrat/woff/Montserrat-200.woff') format('woff'), // Modern Browsers
    url('./../assets/fonts/montserrat/eot/Montserrat-200.eot'), //IE 9
    url('./../assets/fonts/montserrat/eot/Montserrat-200.eot?#iefix') format('embedded-opentype'), //IE 6-8
    url('./../assets/fonts/montserrat/ttf/Montserrat-200.ttf') format('truetype'), // Safari, Android, iOS
    url('./../assets/fonts/montserrat/svg/Montserrat-200.svg') format('svg'); // Legacy iOS
}

// 300
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url('./../assets/fonts/montserrat/woff2/Montserrat-300.woff2') format('woff2'), //Super Mordern Browsers
    url('./../assets/fonts/montserrat/woff/Montserrat-300.woff') format('woff'), // Modern Browsers
    url('./../assets/fonts/montserrat/eot/Montserrat-300.eot'), //IE 9
    url('./../assets/fonts/montserrat/eot/Montserrat-300.eot?#iefix') format('embedded-opentype'), //IE 6-8
    url('./../assets/fonts/montserrat/ttf/Montserrat-300.ttf') format('truetype'), // Safari, Android, iOS
    url('./../assets/fonts/montserrat/svg/Montserrat-300.svg') format('svg'); // Legacy iOS
}

// 400
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/montserrat/woff2/Montserrat-400.woff2') format('woff2'), //Super Mordern Browsers
    url('./../assets/fonts/montserrat/woff/Montserrat-400.woff') format('woff'), // Modern Browsers
    url('./../assets/fonts/montserrat/eot/Montserrat-400.eot'), //IE 9
    url('./../assets/fonts/montserrat/eot/Montserrat-400.eot?#iefix') format('embedded-opentype'), //IE 6-8
    url('./../assets/fonts/montserrat/ttf/Montserrat-400.ttf') format('truetype'), // Safari, Android, iOS
    url('./../assets/fonts/montserrat/svg/Montserrat-400.svg') format('svg'); // Legacy iOS
}

// 500
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url('./../assets/fonts/montserrat/woff2/Montserrat-500.woff2') format('woff2'), //Super Mordern Browsers
    url('./../assets/fonts/montserrat/woff/Montserrat-500.woff') format('woff'), // Modern Browsers
    url('./../assets/fonts/montserrat/eot/Montserrat-500.eot'), //IE 9
    url('./../assets/fonts/montserrat/eot/Montserrat-500.eot?#iefix') format('embedded-opentype'), //IE 6-8
    url('./../assets/fonts/montserrat/ttf/Montserrat-500.ttf') format('truetype'), // Safari, Android, iOS
    url('./../assets/fonts/montserrat/svg/Montserrat-500.svg') format('svg'); // Legacy iOS
}

// 600
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url('./../assets/fonts/montserrat/woff2/Montserrat-600.woff2') format('woff2'), //Super Mordern Browsers
    url('./../assets/fonts/montserrat/woff/Montserrat-600.woff') format('woff'), // Modern Browsers
    url('./../assets/fonts/montserrat/eot/Montserrat-600.eot'), //IE 9
    url('./../assets/fonts/montserrat/eot/Montserrat-600.eot?#iefix') format('embedded-opentype'), //IE 6-8
    url('./../assets/fonts/montserrat/ttf/Montserrat-600.ttf') format('truetype'), // Safari, Android, iOS
    url('./../assets/fonts/montserrat/svg/Montserrat-600.svg') format('svg'); // Legacy iOS
}

// 700
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url('./../assets/fonts/montserrat/woff2/Montserrat-700.woff2') format('woff2'), //Super Mordern Browsers
    url('./../assets/fonts/montserrat/woff/Montserrat-700.woff') format('woff'), // Modern Browsers
    url('./../assets/fonts/montserrat/eot/Montserrat-700.eot'), //IE 9
    url('./../assets/fonts/montserrat/eot/Montserrat-700.eot?#iefix') format('embedded-opentype'), //IE 6-8
    url('./../assets/fonts/montserrat/ttf/Montserrat-700.ttf') format('truetype'), // Safari, Android, iOS
    url('./../assets/fonts/montserrat/svg/Montserrat-700.svg') format('svg'); // Legacy iOS
}

// 800
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url('./../assets/fonts/montserrat/woff2/Montserrat-800.woff2') format('woff2'), //Super Mordern Browsers
    url('./../assets/fonts/montserrat/woff/Montserrat-800.woff') format('woff'), // Modern Browsers
    url('./../assets/fonts/montserrat/eot/Montserrat-800.eot'), //IE 9
    url('./../assets/fonts/montserrat/eot/Montserrat-800.eot?#iefix') format('embedded-opentype'), //IE 6-8
    url('./../assets/fonts/montserrat/ttf/Montserrat-800.ttf') format('truetype'), // Safari, Android, iOS
    url('./../assets/fonts/montserrat/svg/Montserrat-800.svg') format('svg'); // Legacy iOS
}

// 900
@font-face{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url('./../assets/fonts/montserrat/woff2/Montserrat-900.woff2') format('woff2'), //Super Mordern Browsers
    url('./../assets/fonts/montserrat/woff/Montserrat-900.woff') format('woff'), // Modern Browsers
    url('./../assets/fonts/montserrat/eot/Montserrat-900.eot'), //IE 9
    url('./../assets/fonts/montserrat/eot/Montserrat-900.eot?#iefix') format('embedded-opentype'), //IE 6-8
    url('./../assets/fonts/montserrat/ttf/Montserrat-900.ttf') format('truetype'), // Safari, Android, iOS
    url('./../assets/fonts/montserrat/svg/Montserrat-900.svg') format('svg'); // Legacy iOS
}