@font-face{
    font-family: 'WebSymbols';
    font-weight: normal;
    font-style: normal;
    src: url('./../assets/fonts/websymbols/websymbols-regular-webfont.woff') format('woff'),
    url('./../assets/fonts/websymbols/websymbols-regular-webfont.eot'),
    url('./../assets/fonts/websymbols/websymbols-regular-webfont.eot.?#iefix') format('embedded-opentype'),
    url('./../assets/fonts/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
    url('./../assets/fonts/websymbols/websymbols-regular-webfont.svg#WebSymbols') format('svg');
}