mixin block-vision 
    section.vision
        div.vision__title
            h2 Visión y Misión
            hr
        div.vision__content
            div.content__text-vision
                img(src="./assets/images/vision_mision/vision.png", alt="imagen de visión")
                h3 Visión
                p Consolidarnos en el mercado como una empresa líder en el ramo de la comercialización, comprometidos con nuestros clientes, y utilizando los procesos adecuados para contribuir con el desarrollo del país.
            div.content__text-mission
                img(src="./assets/images/vision_mision/mision.png", alt="imagen de misión")
                h3 Misión
                p Satisfacer todas y cada una de las necesidades de nuestros clientes haciendo uso de la innovación para llevar a cabo los procesos en el menor tiempo, con el mejor costo y con la mayor calidad.
