mixin block-vacancies 
    section.vacancies
        div.vacancies__title
            h2 Vacantes
            hr
        div.vacancies__data
            div.img__vacancies-data
                img(src="./assets/images/vacantes/vacante1.jpg", alt="")
            div.content__vacancies-data
                h4 Si te gustan las ventas tenemos un lugar para TI!! 
                p 
                    |Buscamos una persona responsable, proactiva y con energía para unirse a nuestro equipo 
                    br 
                    |Sueldo base mensual: $4,251.00 más comisión
                
                h3 Requisitos
                ul 
                    li 
                        strong Sexo: 
                        |Indistinto
                    li 
                        strong Escolaridad: 
                        |Preparatoria concluida o carrera trunca
                    li 
                        strong Horario: 
                        |Lunes a Viernes de 09:00 a 18:00 hrs.
                    li Excelente trato al cliente y pasión por las ventas
                    li Puntual, honesto y dinámico
                
                h3 Ofrecemos
                ul
                    li Sueldo base + Comisiones 
                    li CONTACTO
                    li Lic. Nancy Santana Tel: 7044 1195 rh_isem@hotmail.com

                p 
                    strong Zona de trabajo, Colonia Reforma Iztaccíhuatl Norte                 
