mixin block-vision 
    section.vision
        div.vision__title
            h2 Visión y Misión
            hr
        div.vision__content
            div.content__text-vision
                img(src="./assets/images/vision_mision/vision.png", alt="imagen de visión")
                h3 Visión
                p Queremos construir el camino del éxito y la excelencia de nuestra empresa, favoreciendo a nuestros clientes cada día, con cada venta y teniendo en cuenta la calidad de nuestros productos y servicios, respaldados en nuestra misión, en nuestros valores y en nuestro buen servicio.
            div.content__text-mission
                img(src="./assets/images/vision_mision/mision.png", alt="imagen de misión")
                h3 Misión
                p Inspirados en el cliente, buscamos proveerlo de ciertas necesidades que, a la larga, pueden ser abrumadoras para su vida diaria. Ponemos a su alcance, diversidad de productos, garantizado su calidad y a su vez, aseguramos nuestro compromiso con un excelente servicio. Nuestro objetivo, es tu negocio.
