mixin block-menu (Categories, SubCategories, CategoriesIcon, url_mainLogo)
    div.menu#menu
        div.menu__logo
            a(href="/") 
                img(src= url_mainLogo , alt="Logo de Sisudi", title="Logo de Sisudi")
        div.menu__categories
             nav.main-nav
                ul.main-nav
                    //-Each para imprimir menu
                    each categories, name in Categories 
                        //-Condición para agregar la url de la raiz index
                        if (name === 'inicio')
                            li.main-nav__categories: a(href='/')!= categories

                        //-Condición para agregar sub menu a una categoria
                        else if (name === 'sobre_nosotros')
                            li.main-nav__categories.main-nav__categories--sub-menu 
                                a!= categories
                                //Inicio de sub-menu
                                ul.sub-nav
                                    each sub_categories, sub_name in SubCategories 
                                        li.sub-nav__categories: a(href='/' + sub_name + '.html' )!= sub_categories
                                //Fin de sub-menu
                        //-Condicón para agregar el resto del menu
                        else 
                            li.main-nav__categories: a(href='./' + name + '.html')!= categories

                    //-Each para imprimir los iconos
                    each icon, icon_name in CategoriesIcon 
                            li.main-nav__categories.main-nav__categories--icons: a!= icon 

    //-Inicio de modal ubicación 
    div.wrap-modal--location.close
        section.container-modal
            i.fas.fa-times-circle.close-click
            div.modal__data
                span 
                    h2 Dirección de Sisudi 
                    a(href="https://g.page/sisudi?share") Clzd. de la viga 1384, col. El sifon, Alc. Iztapalapa. CDMX, C.P. 09400
                iframe(src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d940.9770684884932!2d-99.1229427305224!3d19.373123998868362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDIyJzIzLjMiTiA5OcKwMDcnMjAuMyJX!5e0!3m2!1ses-419!2smx!4v1694939071811!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
            div.modal__image
                img(src="./assets/images/modal/location.svg", alt="Mapa")
    //-Fin de modal ubicación

    //-Inicio de modal mail
    div.wrap-modal--mail.close
        section.container-modal
            i.fas.fa-times-circle.close-click
            div.modal__data
                span 
                    h2 Correo de Sisudi
                    p proveedorasisudi@gmail.com
            div.modal__image
                img(src="./assets/images/modal/mail.svg", alt="mail")
    //-Fin de modal mail

    //-Inicio de modal phone    
    div.wrap-modal--phone.close
        section.container-modal
            i.fas.fa-times-circle.close-click
            div.modal__data
                span 
                    h2 Telefono de contacto
                    p (55) 8987 5303
            div.modal__image
                img(src="./assets/images/modal/phone.svg", alt="mail")
    //-Fin de modal phone

    //-Inicio de Menú para telefonos
    div.menu-phone#menu-phone
        div.menu-phone__bars
            <i class="fas fa-bars" id="menu-bars"></i>
        div.menu-phone__logo
            a(href="/") 
                img(src= url_mainLogo , alt="Logo de sisudi", title="Logo de sisudi")
        div.menu-phone__modals
            <i class="fas fa-map-marker-alt" id="open-location--phone"></i>
            <i class="fas fa-envelope" id="open-mail--phone"></i>
            <i class="fas fa-phone" id="open-phone--phone"></i>
        div.scroll#scroll
            i.fas.fa-arrow-up
    div.dropdown-menu#dropdown-menu
        nav.main-nav--phone
            ul.main-nav--phone
                //-Each para imprimir menu
                each categories, name in Categories 
                    //-Condición para agregar la url de la raiz index
                    if (name === 'inicio')
                        li.main-nav__categories: a(href='/')!= categories

                    //-Condición para agregar sub menu a una categoria
                    else if (name === 'sobre_nosotros')
                        li.main-nav__categories.main-nav__categories--sub-menu 
                            a!= categories
                            //Inicio de sub-menu
                            ul.sub-nav
                                each sub_categories, sub_name in SubCategories 
                                    li.sub-nav__categories: a(href='/' + sub_name + '.html' )!= sub_categories
                            //Fin de sub-menu
                    //-Condicón para agregar el resto del menu
                    else 
                        li.main-nav__categories: a(href='./' + name + '.html')!= categories
    //-Fin de Menú para telefonos           