mixin block-about-us ()
    section.about-us 
        div.about-us__title
            h1 Quienes Somos
            hr
        div.about-us__data
            img(src="./assets/images/logo-proservip.png" alt="Logo de Proservip")
            div.data__content
                p  
                    strong Comercializadora Proservip 
                    |es una empresa 100% mexicana, joven e innovadora, formada por gente con amplia experiencia en el área comercial. Nuestra actividad principal es ofrecer las mejores soluciones y alternativas para su empresa basándonos en la alta eficacia en el servicio, lo cual nos ha permitido distinguirnos como una empresa seria y con pilares sólidos, que se rige bajo el mantenimiento de los altos niveles de calidad que exigen actualmente los mercados nacionales e internacionales. Tenemos como principal objetivo satisfacer las necesidades de nuestros clientes, brindando un servicio completo en prospección, visita, cotización e implementación del servicio más óptimo según el requerimiento de cada uno de nuestros clientes.
                h3 ¿Por qué nosotros?
                ul 
                    li Precios competitivos 
                    li Cumplimiento de plazos y compromisos
                    li Política de calidad 
                    li Excelente servicio
