mixin block-values ()
    section.values
        div.values__title
            h2 Valores
            hr
        div.values__content
            div.content__box
                div.img-wrap
                    img(src="./assets/images/valores/liderazgo.jpg" alt="liderazgo")
                div.data-wrap
                    h3 Liderazgo e Innovación
                    P  Nuestro liderazgo propone, resuelve y actúa.
            div.content__box
                div.img-wrap
                    img(src="./assets/images/valores/respeto.jpg" alt="respeto")
                div.data-wrap
                    h3 Respeto
                    P Fomentamos el respeto entre empresas,  entre las personas como seres humanos y en todo tipo de relaciones entre ellas.
            div.content__box
                div.img-wrap
                    img(src="./assets/images/valores/honestidad.jpg" alt="honestidad")
                div.data-wrap
                    h3 Honestidad
                    P Actuamos y pensamos con base en verdad, con responsabilidad y rectitud.
            div.content__box
                div.img-wrap
                    img(src="./assets/images/valores/servicios.jpg" alt="Vocación de servicio")
                div.data-wrap
                    h3 Vocación de Servicio
                    P Nuestro trabajo resuelve necesidades de otras personas, a quienes llamamos estrellas con las que tenemos el compromiso de aportarles un excelente servicio.
            div.content__box
                div.img-wrap
                    img(src="./assets/images/valores/productividad.jpg" alt="Calidad y Productividad")
                div.data-wrap
                    h3 Calidad y Productividad
                    P Damos el mejor uso a los recursos, cumpliendo con las necesidades y expectativas del cliente interno y externo.
