mixin block-about-us ()
    section.about-us 
        div.about-us__title
            h1 Quienes Somos
            hr
        div.about-us__data
            img(src="./assets/images/logo-sisudi.png" alt="Logo de Sisudi")
            div.data__content
                p  
                    strong Proveedora Sisudi
                    |  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                h3 ¿Por qué nosotros?
                ul 
                    li Precios competitivos 
                    li Cumplimiento de plazos y compromisos
                    li Política de calidad 
                    li Excelente servicio
