mixin block-about-us ()
    section.about-us 
        div.about-us__title
            h1 Quienes Somos
            hr
        div.about-us__data
            img(src="./assets/images/logo-sisudi.png" alt="Logo de Sisudi")
            div.data__content
                p  
                    strong Proveedora Sisudi
                p   Somos una empresa que busca proveerte una gran variedad de productos básicos para la subsistencia diaria, con ello buscamos facilitarte ciertos procesos de la vida cotidiana , así como, mejorar tu estilo de vida y tu negocio. Ofrecemos diversidad de productos innovadores y de calidad, en diferentes categorías y a precios accesibles. Además, te permitimos comprar fácilmente a través de nuestra plataforma de venta digital.
                h3 ¿Por qué nosotros?
                ul 
                    li Queremos economizar tu bolsillo 
                    li Ahorrarte tiempo y facilitarte procesos
                    li Compromiso con las fechas y plazos de entregas
                    li 100% calidad de productos 
                    li Servicio excelente y confiable
                    li Lo que buscas y busca tu negocio, lo tenemos

